<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增订单清单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/UI-jquery/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
<body>
<form class="layui-form layui-form-pane" style="margin-top:40px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label Wheat">型号：</label>
            <div class="layui-input-inline" style="max-width: 120px">
                <input type="text" id="serachModelinfo" name="inputmodel" class="layui-input Wheat">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label Wheat">产品名称：</label>
            <div class="layui-input-inline">
                <input type="text" id="product_info_name" name="product_info_name" class="layui-input Wheat"> </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label Wheat">产品分类：</label>
            <div class="layui-input-inline Wheat" style="max-width:120px">
                <select id="product_type_id" name="type_name" lay-filter="type_name">
                    <option value="" selected>请选择</option>
                    {volist name="producttypelist" id="vo"}
                    <option value={$vo.product_type_id}>{$vo.product_type_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label Wheat">品牌：</label>
            <div class="layui-input-inline Wheat" style="max-width:120px">
                <select id="brand_id" name="brand_name" lay-filter="brand_name">
                    <option value="" selected>请选择</option>
                    {volist name="brandlist" id="vo"}
                    <option value={$vo.brand_id}>{$vo.brand_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label  Wheat">生产地：</label>
            <div class="layui-input-inline Wheat"  >
                <select id="place_id" name="place_name" lay-filter="place_name" class="Wheat_disabled">
                    <option value="" selected>请选择</option>
                    {volist name="placelist" id="vo"}
                    <option value={$vo.place_id}>{$vo.place_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label Wheat" style="min-width: 100px;padding-top: 8px;padding-left: 0px;padding-right: 0px">非常规产品：</label>
            <div class="layui-input-inline Wheat" style="max-width:120px">
                <select id="unc_product_id" name="unc_product_id" lay-filter="unc_product_id">
                    <option value="" selected>请选择</option>
                    {volist name="unc_product_list" id="vo"}
                    <option value={$vo.unc_product_id}>{$vo.unc_product_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label Wheat">数量：</label>
            <div class="layui-input-inline" style="max-width:120px">
                <input type="text" id="uod_count" name="uod_count" class="layui-input Wheat" oninput="detectinputnumber(this);">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label Wheat">单位：</label>
            <div class="layui-input-inline" style="max-width:120px">
                <input type="text" id="uod_unit" name="uod_unit" class="layui-input Wheat">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label Wheat" style="min-width: 100px;padding-top: 8px;padding-left: 0px;padding-right: 0px">要求交货日期：</label>
            <div class="layui-input-inline Wheat" style="max-width:120px">
                <input type="text" name="uod_delivery_date" id="uod_delivery_date" autocomplete="on" class="layui-input Wheat">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label Wheat">定制要求：</label>
        <div class="layui-input-block">
            <input type="text" name="uod_requirement" id="uod_requirement" class="layui-input Wheat">
            <!--<textarea name="uod_requirement" id="uod_requirement" required lay-verify="required" placeholder="请输入" class="layui-textarea Wheat"></textarea>-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label Wheat">备注：</label>
        <div class="layui-input-block">
            <input type="text" name="uod_comment" id="uod_comment" class="layui-input Wheat">
            <!--<textarea name="uod_comment" id="uod_comment" required lay-verify="required" placeholder="请输入" class="layui-textarea Wheat"></textarea>-->
        </div>
    </div>
</form>
</body>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/UI-jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/commondetect.js"></script>
<script type="text/javascript" src="/static/UI-jquery/jquery-ui.js" ></script>
<script type="text/javascript">
    var uod_id = "";
    layui.use(['form', 'laydate', 'jquery', 'laydate'], function () {
        var form = layui.form,
            laydate = layui.laydate,
            jq = layui.jquery;

        laydate.render({
            elem: '#uod_delivery_date',
            position: 'fixed',
            theme: 'molv'
        });

        jq("#serachModelinfo").autocomplete({
            source: function (request, response) {
                //var product_type = jq("#product_type_id").val();
                //var brand = jq('#brand_id').val();
                var serachText = jq("#serachModelinfo").val().trim();;
                jq.ajax({
                    url: "{:url('admin/uncofginfoitem/serachmodelinfo')}",
                    type: "POST",
                    dataType: "json",
                    data: { serrchText:serachText},
                    success: function (data) {
                        response(jq.map(data, function (item) {
                            return {
                                label: item.model,
                                value: item.model,
                            }
                        }));
                    },
                });
            },
            select:function (request, response) {
                if (response != null && response.item != null && response.item.value != null && response.item.value != ''){
                    jq('#serachModelinfo').val(response.item.value);
                    jq("#serachModelinfo").blur();
                }
            }
        });
        jq("#serachModelinfo").keypress(function(e){
            var eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
            if (eCode == 13){
                jq("#serachModelinfo").blur();
            }
        })
        jq("#serachModelinfo").blur(function () {
            var model = jq('#serachModelinfo').val().trim();
            if(model == "") {
                layer.msg('请选择型号！', { icon: 2 });
                return null;
            }
            jq('#product_info_name').removeAttr("disabled");
            jq('#product_type_id').removeAttr("disabled");
            jq('#brand_id').removeAttr("disabled");
            jq('#place_id').removeAttr("disabled");
            jq.ajax({
                url: "{:url('admin/uncofginfoitem/coldserachmodel')}",
                type: "POST",
                dataType: "json",
                async: false,
                data: { serrchText: model},
                success: function (data) {
                    console.log(data);
                    if(data == "" || data == null || data === undefined) {
                        console.log(173);
                        top.layer.confirm('"'+ model +'" 型号不存在，是否录入？', {
                            btn: ['是','否']
                        }, function(index){
                            layui.form.render('select');
                            top.layer.close(index);
                        }, function(){
                            jq('#serachModelinfo').val("");
                        });
                    } else {

                        jq('#product_info_name').attr("disabled","disabled");
                        jq('#product_type_id').attr("disabled","disabled");
                        jq('#brand_id').attr("disabled","disabled");
                        jq('#place_id').attr("disabled","disabled");

                        var product_info = data.product_info;
                        var product_type = data.product_type;
                        var product_brand = data.product_brand;
                        var product_place = data.product_place;
                        jq('#product_info_name').val(product_info.product_info_name);

                        jq('#product_type_id').val(product_type.product_type_id);

                        jq('#brand_id').val(product_brand.brand_id);

                        jq('#place_id').val(product_place.place_id);
                        layui.form.render('select');
                    }
                },
            });
        })
    });
    //父级调用 加载数据
    function loadingData(data) {
        var jq = layui.jquery;
        console.log(data);
        jq('#product_info_name').val(data.product_info_name);
        jq('#product_type_id').val(data.product_type_id);
        jq('#brand_id').val(data.brand_id);
        jq('#place_id').val(data.place_id);
        document.getElementById('unc_product_id').value = data.unc_product_id;
        //jq('#product_type_id').attr('value',data.product_type_id);
        //jq('#brand_id').attr('value',data.brand_id);
        jq('#serachModelinfo').val(data.model);
        jq('#uod_count').val(data.uod_count);
        jq('#uod_unit').val(data.uod_unit);
        jq('#uod_requirement').val(data.uod_requirement);
        jq('#uod_delivery_date').val(data.uod_delivery_date);
        jq('#uod_comment').val(data.uod_comment);
        //jq('#uoi_custom_name').attr('value',unc_ofg_info.uoi_custom_name);
        layui.form.render('select');
        uod_id = data.uod_id;

        jq('#product_info_name').attr("disabled","disabled");
        jq('#product_type_id').attr("disabled","disabled");
        jq('#brand_id').attr("disabled","disabled");
        jq('#place_id').attr("disabled","disabled");
        layui.form.render('select');
    }
    //父级调用 获取参数
    function saveOrderItem() {
        var jq = layui.jquery;
        var model = jq('#serachModelinfo').val().trim();
        if(model == "") {
            layer.msg('请选择型号！', { icon: 2 });
            return null;
        }
        var product_info_name = jq('#product_info_name').val().trim();
        if(product_info_name == "") {
            layer.msg('请填写产品名称！', { icon: 2 });
            return null;
        }
        var product_type_id = jq('#product_type_id').val();
        if(product_type_id == "") {
            layer.msg('请选择产品分类！', { icon: 2 });
            return null;
        }
        var brand_id = jq('#brand_id').val();
        if(brand_id == "") {
            layer.msg('请选择品牌！', { icon: 2 });
            return null;
        }
        var place_id = jq('#place_id').val();
        if(place_id == "") {
            layer.msg('请生产地！', { icon: 2 });
            return null;
        }
        var unc_product_id = jq('#unc_product_id').val();
        if (unc_product_id == ""){
            layer.msg('请选择非常规产品！',{icon:2});
            return null;
        }

        var uod_count = jq('#uod_count').val();
        if(uod_count == ""){
            layer.msg('请填写数量！', { icon: 2 });
            return null;
        }
        var isright = testRgexp(/^\d+$/, uod_count);
        if(!isright) {
            layer.msg('数量必须未正整数！', { icon: 2 });
            return null;
        }
        var uod_unit = jq('#uod_unit').val();
        if(uod_unit == "") {
            layer.msg('请填写单位！', { icon: 2 });
            return null;
        }
        var uod_delivery_date = jq("#uod_delivery_date").val();
        if(uod_delivery_date == "") {
            layer.msg('请选择要求交货日期！', { icon: 2 });
            return null;
        }
        var place_id = jq('#place_id').val();
        if(place_id == "") {
            layer.msg('请选择生产地！', { icon: 2 });
            return null;
        }

        //place_id
        var orderItem = new Object();
        orderItem.product_type_id = product_type_id;
        var obj = document.getElementById("product_type_id");
        orderItem.product_type_name = obj.options[obj.selectedIndex].text;
        orderItem.brand_id = brand_id;
        var obj1 = document.getElementById("brand_id");
        orderItem.brand_name = obj1.options[obj1.selectedIndex].text;
        var  obj2 = document.getElementById('unc_product_id');
        var obj2 = document.getElementById("place_id");
        orderItem.place_name = obj2.options[obj2.selectedIndex].text;
        orderItem.place_id = place_id;
        orderItem.product_info_name = product_info_name;
        orderItem.unc_product_name = obj2.options[obj2.selectedIndex].text;
        orderItem.unc_product_id = unc_product_id;
        orderItem.model = model;
        orderItem.uod_id = uod_id;
        orderItem.uod_count = uod_count;
        orderItem.uod_unit = jq('#uod_unit').val();
        orderItem.uod_delivery_date = uod_delivery_date;
        orderItem.uod_requirement = jq('#uod_requirement').val();
        orderItem.uod_comment = jq('#uod_comment').val();
        //+判断 型号是否存在，不存在禁止录入
        var canRet = true;
        jq.ajax({
            url: "{:url('admin/uncofginfoitem/addmodel')}",
            type: "POST",
            dataType: "json",
            async: false,
            data: {
                model:model,
                product_info_name:product_info_name,
                product_type_id:product_type_id,
                brand_id:brand_id,
                place_id:place_id
            },
            success: function (data) {
                console.log('+++++++++++++++++++++++');
                console.log(data);
                if(data !="") {
                    orderItem.product_info_id = data;
                } else {
                    canRet = false;
                }
            },
        });
        if (canRet){
            return orderItem;
        }else {
            return null;
        }
    }

    function testRgexp(re, s) { // 参数说明 re 为正则表达式 s 为要判断的字符
        return re.test(s)
    }
</script>
</html>