<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增订单清单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/UI-jquery/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">

</head>
<body>
    <form class="layui-form layui-form-pane" style="margin-top:40px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label Wheat">型号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="serachModelinfo" name="inputmodel" class="layui-input Wheat Wheat_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">产品名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="product_info_name" name="product_info_name" class="layui-input Wheat Wheat_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">产品分类：</label>
                <div class="layui-input-inline Wheat" >
                    <select id="product_type_id" name="type_name" lay-filter="type_name" class="Wheat_disabled">
                        <option value="" selected>请选择</option>
                        {volist name="producttypelist" id="vo"}
                        <option value={$vo.product_type_id}>{$vo.product_type_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">品牌：</label>
                <div class="layui-input-inline Wheat" >
                    <select id="brand_id" name="brand_name" lay-filter="brand_name" class="Wheat_disabled">
                        <option value="" selected>请选择</option>
                        {volist name="brandlist" id="vo"}
                        <option value={$vo.brand_id}>{$vo.brand_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label  Wheat">生产地：</label>
                <div class="layui-input-inline Wheat"  >
                    <select id="place_id" name="place_name" lay-filter="place_name" class="Wheat_disabled" >
                        <option value="" selected>请选择</option>
                        {volist name="placelist" id="vo"}
                        <option value={$vo.place_id}>{$vo.place_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>


        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label Wheat">数量：</label>
                <div class="layui-input-inline" >
                    <input type="text" id="inputcount" name="inputcount" class="layui-input Wheat Wheat_disabled" oninput="detectinputnumber(this);">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">单位：</label>
                <div class="layui-input-inline" >
                    <input type="text" id="inputunit" name="inputunit" class="layui-input Wheat Wheat_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label Wheat">规格：</label>
                <div class="layui-input-inline" >
                    <input type="text" id="specification" name="specification" class="layui-input Wheat Wheat_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">归还日期：</label>
                <div class="layui-input-inline" >
                    <input type="text" name="date" id="back_date" autocomplete="on" class="layui-input Wheat Wheat_disabled">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label Wheat">条码：</label>
                <div class="layui-input-inline" >
                    <input type="text" name="bar_code" id="bar_code" class="layui-input Wheat Wheat_disabled">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label Wheat">原因：</label>
                <div class="layui-input-inline" >
                    <input type="text" name="replace_reason" id="replace_reason" lay-filter="replace_reason" class="layui-input Wheat Wheat_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="display: inline-block;">
            <div class="layui-inline ">
                <label class="layui-form-label dark_blue">非常规产品：</label>
                <div class="layui-input-inline dark_blue" >
                    <select id="unc_productid" name="unc_productname" lay-filter="unc_productname" class="dark_blue_disabled">
                        <option value="" selected>请选择</option>
                        {volist name="uncproductlist" id="vo1"}
                        <option value={$vo1.unc_product_id}>{$vo1.unc_product_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item dark_blue" style="display: inline-block;" pane="">
            <label class="layui-form-label dark_blue">状态：</label>
            <div class="layui-input-block " >
                <input type="radio" name="inputstate" title="已更换" value="已更换" class="dark_blue_disabled">
                <input type="radio" name="inputstate" title="未更换" value="未更换" class="dark_blue_disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label dark_blue">备注：</label>
                <div class="layui-input-inline" style="max-width:120px">
                    <input type="text" name="comment" id="comment" class="layui-input dark_blue dark_blue_disabled" oninput="detectinputtext(this);">
                </div>
            </div>
        </div>
    </form>
</body>
<script type="text/javascript" src="/static/js/commondetect.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/UI-jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>

<script type="text/javascript">
    var type = 0;
    var isExistModel = true;//型号是否存在
    var product_info_id = -1;//型号id
    layui.use(['form','laydate','jquery','laydate'],function(){
       var form = layui.form,
           laydate = layui.laydate;
        jq = layui.jquery;

        laydate.render({
            elem: '#back_date'
            ,position: 'fixed'
            ,theme: 'molv'
        });
        jq(document).ready(function () {
            type = "<?php echo $type?>";
            if(type == 1)
            {
                jq('.Wheat_disabled').attr('disabled','');
            }
            else
            {
                jq('.dark_blue_disabled').attr("disabled",true);
            }
            layui.form.render('select');
        })
       form.on('select(type_name)',function(typedata){
           //jq.post("{:url('admin/addconfirmorderitem/getbrand')}",{})
       })
       //brand_id
        jq("#serachModelinfo").autocomplete({
            source:function(request,response){
                jq.ajax({
                    url:"{:url('admin/addconfirmorderitem/serachmodelinfo')}",
                    type:"POST",
                    dataType:"json",
                    data:{serrchText:jq("#serachModelinfo").val()},
                    success:function(data){
                        response(jq.map(data,function(item){
                            return{
                                label:item.model,
                                value:item.model,
                            }
                        }));
                    },
                });
            },
            select: function (event, ui) {

            },
        });
       //型号text失去焦点
        jq("#serachModelinfo").blur(function () {
            var model = jq('#serachModelinfo').val();
            if(model == '')
                return ;
            jq.ajax({
                url: "{:url('admin/Addconfirmorderitem/coldserachmodelinfo')}",
                type: "POST",
                dataType: "json",
                async: false,
                data: { serrchText: model},
                success: function (data) {
                    console.log(data);
                    if(data == "" || data == null || data === undefined) {
                        console.log(173);
                        top.layer.confirm('型号: <span style="color: red">'+model+'</span> 在数据库不存在，是否录入', {
                            btn: ['是','否'] //按钮
                        }, function(index){
                            isExistModel = false;
                            top.layer.close(index);
                        } ,function () {
                            jq('#serachModelinfo').val('');
                        });
                    } else {

                        jq('#product_info_name').val(data[0]['product_info_name']);
                        jq('#product_type_id').val(data[0]['product_type_id']);
                        jq('#brand_id').val(data[0]['brand_id']);
                        jq('#place_id').val(data[0]['place_id']);
                        ///还要处理
                        layui.form.render('select');
                        product_info_id = data.product_info_id;
                    }
                },
            });


        })
    });

    function saveOrderItem() {
        var sign = 0 ;
        var jq = layui.jquery;
        var layer = layui.layer;
        jq('.Wheat_disabled').attr("disabled",false);
      //  jq('.Wheat_disabled').attr("disabled","disabled");
        jq('.dark_blue_disabled').attr("disabled",false);
      //  jq('.dark_blue_disabled').attr("disabled","disabled");
        var orderItem = new Object();
        orderItem.product_type_id = jq('#product_type_id').val();
        var obj = document.getElementById("product_type_id");
        orderItem.product_type_name = obj.options[obj.selectedIndex].text;
        orderItem.brand_id = jq('#brand_id').val();
        var obj1 = document.getElementById("brand_id");
        orderItem.brand_name = obj1.options[obj1.selectedIndex].text;
        orderItem.model = jq('#serachModelinfo').val();
        var obj2 = document.getElementById("place_id");
        orderItem.place_name = obj2.options[obj2.selectedIndex].text;
        orderItem.place_id = jq('#place_id').val();//
        orderItem.order_goods_manager_count = jq('#inputcount').val();
        if(orderItem.order_goods_manager_count == '')
            return '';
        orderItem.unit = jq('#inputunit').val();


        var unc_productid = jq("#unc_productid").find("option:selected").val();
        var unc_product_text = "";
        if(unc_productid == ""){
            unc_product_text = "";
        }else {
            unc_product_text = jq("#unc_productid").find("option:selected").text();
        }
        orderItem.unc_product_name = unc_product_text;
        orderItem.unc_product_id = unc_productid;

        orderItem.specification = jq('#specification').val();
        orderItem.back_date = jq('#back_date').val() ;

        if(orderItem.back_date == ''){
            layer.msg('请输入归还日期',{icon:2});
            return;
        }
        orderItem.ogl_product_state = "";

        jq("input[name='inputstate']").each(function(){
            if(jq(this).prop('checked')){
                orderItem.ogl_product_state = jq(this).attr('value');
            }
        });
        orderItem.bar_code = jq('#bar_code').val();
        orderItem.replace_reason = jq('#replace_reason').val();
        orderItem.ogl_comment = jq('#comment').val();
        if(orderItem.model == ''){
            layer.msg('请输入数量',{icon:2});
            return;
        }
        orderItem.product_info_name = jq('#product_info_name').val();
        //+判断 型号是否存在，不存在禁止录入
        if(isExistModel == false)
        {
            var model_info = {};
            model_info['model'] = orderItem.model;
            model_info['product_info_name'] = orderItem.product_info_name;
            model_info['product_type_id'] = orderItem.product_type_id;
            model_info['brand_id'] = orderItem.brand_id;
            model_info['place_id'] = orderItem.place_id;
            jq.ajax({
                url:"{:url('admin/addconfirmorderitem/addmodel')}",
                type:"POST",
                dataType:"json",
                async:false,
                data:{model_info:model_info},
                success:function(data){
                    console.log(data);
                    if(isEmptyObject(data)){
                        top.layer.msg('录入失败！',{icon:2});
                        sign = 1;
                    }else{
                        orderItem.product_info_id = data['product_info_id'];
                    }
                }});
        }
        else
        {
            orderItem.product_info_id = product_info_id;
        }
        if(sign == 1){
            return '';
        }else{
            clear();
            return orderItem;
        }
    }

    function isEmptyObject(obj){
          for (var key in obj) {
            return false;
          }
          return true;
    }

    function LoadingData(data) {
        var jq = layui.jquery;

        document.getElementById('product_type_id').value = data['product_type_id'];
        document.getElementById('brand_id').value = data['brand_id'];
        jq('#serachModelinfo').attr('value',data['model']);
        document.getElementById('place_id').value = data['place_id'];
        jq('#inputcount').attr('value',data['order_goods_manager_count']);
        jq('#inputunit').attr('value',data['unit']);
        document.getElementById('unc_productid').value = data['unc_product_id'];
        jq('#specification').attr('value',data['specification']);
        if(data['back_date'] != '')
            jq('#back_date').attr('value',data['back_date']);
        jq('#bar_code').attr('value',data['bar_code']);
        jq('#replace_reason').attr('value',data['replace_reason']);
        jq('#comment').attr('value',data['ogl_comment']);
        jq("input[name='inputstate']").each(function(){
            if(jq(this).attr('value') == data['ogl_product_state']){
                jq(this).prop('checked',true);
            }
        });

        layui.form.render('select');
        layui.form.render('radio');
    }
    //清空所有
    function clear() {
        isExistModel = true;
        var jq = layui.jquery;
        jq('#specification').val("");
        jq('#product_info_name').val("");
        jq('#product_type_id').val("");
        jq('#serachModelinfo').val("");
        jq('#brand_id').val("");
        jq('#place_id').val("");
        jq('#inputcount').val("");
        jq('#inputunit').val("");
        jq('#unc_productid').val("");
        jq('#specification').val("");
        jq('#back_date').val("");
        jq('#bar_code').val("");
        jq('#replace_reason').val("");
        jq('#comment').val("");

         jq("input[name='inputstate']").each(function(){
             jq(this).prop('checked',false);
         });

         if(type == 1)
         {
             jq('.Wheat_disabled').attr('disabled',true);
         }
         else
         {
            jq('.dark_blue_disabled').attr("disabled",true);
         }
        layui.form.render('select');
        layui.form.render('radio');
    }
</script>

</html>