<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
</head>
<body>
    <div style="margin: 0px 20px">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-inline">
                        <input type="text" id = "fullname" name="fullname" lay-filter="fullname" placeholder="请输入用户名" autocomplete="off" class="layui-input" oninput="detectinputtext(this);">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-inline">
                        <input type="text" id = "password" name="password" lay-filter="password" placeholder="请输入密码" autocomplete="off" class="layui-input" oninput="detectinputtext(this);">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">总部门：</label>
                    <div class="layui-input-inline">
                        <select id ="company_id" name="company_name" lay-filter="company_name">
                            <option value = ""  selected>请选择</option>
                            {volist name="companylist" id="vo"}
                            <option value={$vo.organize_id}>{$vo.organize_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">子部门：</label>
                    <div class="layui-input-inline">
                        <select id = "department_id" name="department_name" lay-filter="department_name">
                            <option value = "" selected>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">职位：</label>
                    <div class="layui-input-inline">
                        <select id = "job_id" name="job_name" lay-filter="job_name">
                            <option value = "" selected>请选择</option>
                            {volist name="joblist" id="vo"}
                            <option value={$vo.job_id}>{$vo.job_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">角色：</label>
                    <div class="layui-input-inline">
                        <select  id = "role_id" name="role_name" lay-filter="role_name">
                            <option value = "" selected>请选择</option>
                            {volist name="rolelist" id="vo"}
                            <option value={$vo.role_id}>{$vo.role_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone" name="phone" lay-filter="phone" placeholder="请输入电话号码" autocomplete="off" class="layui-input" oninput="detectinputphone(this);">
                    </div>
                </div>
            </div>
        </form>
        <a style="color: red">注意：</a></br>
        <a style="color: red ;margin: 0px 20px">物流部角色：物流部人员、部长/主管、管理人员</a></br>
        <a style="color: red;margin: 0px 20px">财务部角色：财务人员：</a></br>
        <a style="color: red;margin: 0px 20px">只选总部门角色：总经理</a></br>
        <a style="color: red;margin: 0px 20px">销售子部门角色：总监、经理</a></br>
        <a style="color: red;margin: 0px 20px">物流部仓库角色：仓管</a></br>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        layui.use(['layer','jquery','form','table'],function(){
            var form = layui.form ,layer = layui.layer,jq = layui.jquery,table = layui.table;
            //layui.form.render();
            /*监听总部门选择*/
            form.on('select(company_name)',function(data){
                var ops=document.getElementById("department_id");
                ops.innerHTML = "";
                ops.options.length = 0;
                form.render('select');
                jq("#department_id").append("<option value=''>请选择</option>");
                form.render('select');
                if(data.value == "")
                    return false;
                //LoadingDepartment(data.value);
                jq.post("{:url('usermanage/Edituser/getdepartmentinfo')}",{'param':data.value},function(result){
                    if(result == null)
                        return ;
                    for(var  item in result){
                        //console.log(data[item]['organize_name']);
                        jq("#department_id").append("<option value='"+result[item]['organize_id']+"'>"+result[item]['organize_name']+"</option>");
                    }
                    form.render('select');
                });
                return false;
            });
        });

        function LoadingDepartmentAndSelected(value,selectValue) {
            var jq = layui.jquery;
            var form1 = layui.form;
            jq.post("{:url('usermanage/Edituser/getdepartmentinfo')}",{'param':value},function(data){
                for(var  item in data){
                    //console.log(data[item]['organize_name']);
                    if(data[item]['organize_id'] == selectValue)
                    {

                        jq("#department_id").append("<option value='"+data[item]['organize_id']+"' selected>"+data[item]['organize_name']+"</option>");
                    }

                    else
                        jq("#department_id").append("<option value='"+data[item]['organize_id']+"'>"+data[item]['organize_name']+"</option>");
                }
                layui.form.render('select');
            });
        }

        function SaveUser() {
            var jq = layui.jquery;
            var str = '';
            if(jq("#department_id").val() != '' &&jq("#department_id").val()!= undefined )
            {
                str = jq("#department_id").val();
            }
            else if(jq("#company_id").val() != '' &&jq("#company_id").val()!= undefined )
            {
                str = jq("#company_id").val();
            }
            else
            {
                layer.msg('请选择总部门',{icon:2});
                return '';
            }

            var user = new Object();
            user.fullname= jq("#fullname").val();
            if( user.fullname == '')
            {
                layer.msg('名字不能为空',{icon:2});
                return '';
            }



            user.password= jq("#password").val();
            if( user.fullname == '')
            {
                layer.msg('密码不能为空',{icon:2});
                return '';
            }
            user.company_id= jq("#company_id").val();
            user.department_id= jq("#department_id").val();
            var isExist = false;
            if(oldUser.fullname != user.fullname||oldUser.companyid!= user.company_id||oldUser.organize_id !=user.department_id)
            {
                jq.ajax({
                    url: "{:url('admin/addgoodsconfirmorder/judgemanagerexist')}",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: {fullname: jq("#fullname").val(), department_id: str},
                    success: function (data) {
                        if (data != "" && data != null && data !== undefined && data.length>0) {
                            isExist = true;

                        }
                    },
                });
            }

            if(isExist)
            {
                layer.msg("该部门已存在:"+ jq("#fullname").val(),{icon:2});
                return '';
            }
            user.job_id= jq("#job_id").val();
            if(user.job_id == '' ||user.job_id == undefined )
            {
                layer.msg('请选择职位',{icon:2});
                return '';
            }
            user.role_id= jq("#role_id").val();
            if( user.role_id == '' ||user.role_id == undefined )
            {
                layer.msg('请选择角色',{icon:2});
                return '';
            }
            user.phone= jq("#phone").val();
            if(!judgeRole(user))
                return '';
            return user;
        }

        function judgeRole(user) {
            var jq = layui.jquery;
            if(user.department_id == '')
            {
                var companyName = jq('#company_id option:selected').text();
                var roleName = jq('#role_id option:selected').text();
                if(companyName == '物流部' &&(roleName == '物流部人员'||roleName == '部长/主管'||roleName == '管理人员'))
                {
                    return true;
                }
                if(companyName == '财务部' &&roleName != '财务人员')
                {
                    layer.msg(companyName+'角色不能为'+roleName,{icon:2});
                    return false;
                }

                if(roleName != '总经理'&&companyName != '财务部'&&companyName != '物流部')
                {
                    layer.msg(companyName+'角色不能为'+roleName,{icon:2});
                    return false;
                }
            }
            else
            {
                var companyName = jq('#company_id option:selected').text();
                var departName = jq('#department_id option:selected').text();
                var roleName = jq('#role_id option:selected').text();
                if(departName != '仓库'&&(roleName != '总监'&&roleName != '经理'))
                {
                    layer.msg(departName+'角色不能为'+roleName,{icon:2});
                    return false;
                }
                if(companyName=='物流部'&&departName == '仓库'&&roleName == '仓管')
                {
                    return true;
                }
                else {
                    layer.msg(departName+'角色不能为'+roleName,{icon:2});
                    return false;
                }
            }
            return true;
        }
        var oldUser = null;
        function LoadingUser(user) {
            oldUser = user;
            var jq = layui.jquery;
            //var form = layui.form;
            document.getElementById('job_id').value = user['job_id'];
            document.getElementById('role_id').value = user['role_id'];
            document.getElementById('company_id').value = user['companyid'];
            //LoadingDepartment(user['companyid']);
           LoadingDepartmentAndSelected(user['companyid'],user['organize_id'])
            //document.getElementById('department_id').value = user['organize_id'];

            jq('#fullname').attr('value',user['fullname']);
            jq('#password').attr('value',user['password']);
            jq('#phone').attr('value',user['phone']);
            //console.log(user);
        }
    </script>
</body>
</html>