<!DOCTYPE html>
<html>
    <head>
        <title>登录页面</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css"> </head>
    <body onkeydown="keyLogin(event)" style="overflow: auto;">
        <form class="layui-form uspw">
            <div class="layui-form-item">
                <label class="layui-form-label" style="background-color:;">
                    <i class="fa fa-user fa-lg" aria-hidden="true" style="font-size: 30px;"></i>
                </label>
                <div class="layui-input-block">
                    <input type="text" name="username" id="username" required lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input"> </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <i class="fa fa-key fa-fw" aria-hidden="true" style="font-size: 16px;"></i>
                </label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="pass" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" /> </div>
            </div>
            <div class="layui-form-item">
<!--                 <div class="login">
                    <button class="layui-btn layui-btn-primary layui-btn-radius" lay-submit lay-filter="login" id='button'> 登录</button>
                </div> -->
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-primary layui-btn-radius" lay-submit lay-filter="login" id='button'> 登录</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:void(0);" style="color: white;font-size: 14px;text-decoration:underline;" id="resetpersoninfo">修改密码</a>
                </div>
            </div>
        </form>
        <!--<div class="layui-container">
            <form class="layui-form" style="padding-top: 25%;">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码:</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                    </div>
                </div>
            </form>
        </div>-->
        <script src="/static/layui/layui.js"></script>
        <script src="/static/js/md5.js"></script>
        <script type="text/javascript">
            layui.use(['jquery', 'form', 'layer'], function () {
                var jq = layui.jquery,
                    form = layui.form,
                    layer = layui.layer;
                /*光标在用户名输入框*/
                jq('#username').focus();    
                /*监听登录按键*/
                form.on('submit(login)', function (data) {
                    var userinfo = data.field;
                    jq.post("{:url('index/login/loginconfirm')}", { 'username': userinfo.username, 'password': hex_md5(userinfo.password) }, function (data) {
                        if(data) {
                            layer.msg('登录成功', {
                                icon: 1,
                                time: 1000,
                                shade: [0.6, '#393D49']
                            }, function () {
                                location.href = "/index/adminindex/index";
                            });
                        } else {
                            layer.msg('登录失败', {
                                icon: 2,
                                shade: [0.6, '#393D49']
                            })
                        }
                    });
                    return false;
                });

                /*修改用户密码*/
                jq('#resetpersoninfo').click(function(){
                    top.layer.open({
                        type: 2 //此处以iframe举例
                        , title: ['修改用户密码','text-align:center']
                        , area: ['500px', '400px']
                        , shade: 0.8
                        , maxmin: false
                        , content: "{:url('usermanage/resetpersonalinfo/resetpersonalinfo')}"
                        , btn: ['保存', '取消'] //只是为了演示
                        , yes: function (index, layero){
                            var iframeWin = top.window[layero.find('iframe')[0]['name']];
                            var personalinfo = iframeWin.submitPersonalinfo();
                            if(personalinfo == ''){
                                return;
                            }
                            jq.post("{:url('usermanage/resetpersonalinfo/updatepersonalinfo')}",{'param':personalinfo},function(data){
                                if(data == ''){
                                    top.layer.msg('用户名不存在或者密码错误',{icon:2});
                                    return;
                                }else{
                                    top.layer.close(index);
                                    top.layer.msg('用户密码修改成功',{icon:1});
                                }
                            });
                        }
                    });
                });


            });

            function keyLogin(keyevent) {
                var e = keyevent || window.event || arguments.callee.caller.arguments[0];
                console.log(keyevent);
                if(e.keyCode == 13) //回车键的键值为13
                    document.getElementById("button").click(); //调用登录按钮的登录事件
            }
        </script>
    </body>
</html>