<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> 
        <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/static/UI-jquery/jquery-ui.min.css">
    	<style type="text/css">
            .hide{
                display: none;
            }
            .textcenter{
                text-align: center;
                left: 50%;
            }
            .layui-table-style td{padding: 4px 1px;  border: 1px solid #8A8A8A}
            .layui-table-style th{ border: 1px solid #8A8A8A;  color:black}
    	</style>
    </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
            {if condition="$print_power eq 8"}
                {if condition="$type eq 0"}
                    {if condition="$parenttype eq 0"}
                    <div style="padding-top: 20px;">
                        <h3 class="textcenter" style="margin-bottom: -30px">非定型产品订货单</h3>
                        <div style="float: right;">
                                <input style="color: red;" type="button" value="打印" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="printorder">
                        </div>
                     </div>
                        {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
                    {/if}
                    {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
                {/if}
                {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
            {/if}
            <div class="layui-form-item" style="padding-top: 10px;">
                <label class="layui-form-label">TO:</label>
                <div class="layui-input-block">
                    <input type="text" id="uoi_to" name="uoi_to" autocomplete="on" placeholder="" class="layui-input look_disabled"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="uoi_manual_ofg_id" name="uoi_manual_ofg_id" lay-verify="" placeholder="" autocomplete="on" class="layui-input look_disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="uoi_custom_name" name="uoi_custom_name" lay-verify="" placeholder="" autocomplete="on" class="layui-input look_disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下达工厂</label>
                    <div class="layui-input-inline">
                        <select id="uoi_to_place" name="uoi_to_place" class="look_disabled">
                            <option value="" disabled="" >选择</option>
                            <option value="迪士普" selected="">迪士普</option>
                            <option value="盛葆">盛葆</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" id="user_name" lay-verify="" placeholder="" autocomplete="on" class="layui-input look_disabled">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单日期</label>
                    <div class="layui-input-inline">
                        <input type="text"  name="uoi_date" id="uoi_date" autocomplete="on" value="{$date}" class="layui-input look_disabled"> </div>
                </div>
            </div>

            <div>
                <h3 class="textcenter" style="margin-bottom: -30px">订购清单</h3>
                <!--<div>-->
                    <!--<input type="button" value="添加清单" id="btn_add_order_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add_order_item">-->
                <!--</div>-->
            </div>

            <table class="layui-table layui-table-style" id="tableorder">
                <colgroup>
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>型号</th>
                        <th>产品名称</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>生产地</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>非常规产品</th>
                        <th>订制要求</th>
                        <th>要求交货日期</th>
                        <th>备注</th>
                        <th class="dark_blue">操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="layui-form-item">
                <label class="layui-form-label dark_blue">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="uoi_project_name" id="uoi_project_name" autocomplete="on" placeholder="" class="layui-input look_disabled"> </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label dark_blue">提供商</label>
                <div class="layui-input-block">
                    <input type="text" name="uoi_provider_name" id="uoi_provider_name" autocomplete="on" placeholder="" class="layui-input look_disabled"> </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/UI-jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/commondetect.js"></script>
        <script type="text/javascript" src="/static/UI-jquery/jquery-ui.js" ></script>
        <script type="text/javascript">
            var uoi_id = "";
            var delrowid = new Array();
            var type = 1;     //当前页面模式 说明：0:不可编辑 1：编辑
            var cs_id = "";   //当前非定型订单的流水号

            //禁止backspace键
            document.onkeypress = forbidBackSpace;
            document.onkeydown = forbidBackSpace;



            layui.use(['form', 'laydate','jquery'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    jq = layui.jquery,
                    laydate = layui.laydate;

                /*日期*/
                laydate.render({
                    elem: '#requireddeliverydate',
                    position: 'fixed',
                    theme: 'molv'
                });
                laydate.render({
                    elem: '#uoi_date',
                    position: 'fixed',
                    theme: 'molv'
                });
                //添加清单明显
                jq('#btn_add_order_item').click(function () {
                    openWindow();
                    return false;
                });
                //编辑行
                jq(document).on('click', '.edit_btn', function() {
                    // var text = jq(this).parent().parent();
                    // var tableRowIndex = jq(text[0].cells[0].innerHTML).text();
                    // openWindow(tableRowIndex);
                });
                //删除行
                jq(document).on('click', '.del_btn', function(){
                    var text = jq(this).parent().parent();
                    top.layer.confirm('是否删除此行信息？', {
                        btn: ['是','否'] //按钮
                    }, function(index){
                        top.layer.close(index);
                        var uod_id = jq(text).attr("uod_id");
                        if (uod_id === undefined || uod_id == ""){
                            //return;
                        }else {
                            delrowid.push(uod_id);
                        }
                        jq('#tableorder')[0].deleteRow(jq(text[0].cells[0].innerHTML).text());
                        var table = document.getElementById("tableorder"); //获得整个表格对象
                        if(table.rows.length == 1)
                        {
                            addGoodsTableRow();
                        }
                        else
                        {
                            for(var i = 1; i <= table.rows.length;i++){
                                var rowObj = table.rows[i]
                                var cell = rowObj.cells[0];
                                cell.innerHTML ="<a>"+ i+"</a>";
                            }
                        }

                    }, function(){

                    });

                });

                /*打印非定型订单*/
                // form.on('submit(printorder)',function(){
                //     var cs_id = {$cs_id};
                //     if(cs_id == 0){
                //         return;
                //     }
                //     top.layer.open({
                //         type: 2,
                //         area: ['600px', '250px'],
                //         shade: 0.6,
                //         shadeClose:true,
                //         title: '设置导出参数',
                //         resize:false,
                //         btn: ['保存','取消'],
                //         content: "{:url('admin/setexportfileparam/setexportfileparam')}",
                //         yes:function(index,layero){
                //                 var iframeWin = top.window[layero.find('iframe')[0]['name']];
                //                 var exportparam = iframeWin.getexportparam();
                //                 top.layer.close(index);
                //                 window.open("{:url('admin/uncofginfo/printuncofginfo')}?uoi_id="+ uoi_id + "&file_name=" + exportparam.file_name+ "&file_extend=" + exportparam.file_extend,"_self");
                //             }
                //         });
                //     return false;
                // });

                jq(document).ready(function() {
                    var layer = layui.layer;
                    type = {$type};
                    var data = null;
                    var wlength = window.parent.length;
                    var wParent = window.parent[window.parent.length - 2];
                    if(wParent.getUncofgInfoUI){
                        data = wParent.getUncofgInfoUI();
                    }else {
                        if(wParent[0].getUncofgInfoUI){
                            data = wParent[0].getUncofgInfoUI();
                        }
                    }
                    //var wParent = window.parent[window.parent.length - 2];
                    //var data = wParent.getUncofgInfoUI();
                    var jq = layui.jquery;

                    if(data == null){
                        addGoodsTableRow();
                        return;
                    }

                    var unc_ofg_info = data.unc_ofg_info;
                    var tableData = data.unc_ofg_items;
                    if (tableData != null && tableData != ""){
                        var length = tableData.length;
                        for (var i = 0; i < length; i++){
                            //addTableItem(tableData[i],i + 1);
                            addGoodsTableRow();
                            setGoodsRowValue(tableData[i],i+1);
                        }
                    }
                    uoi_id = unc_ofg_info.uoi_id;
                    jq('#uoi_to').attr('value',unc_ofg_info.uoi_to);
                    jq('#uoi_manual_ofg_id').attr('value',unc_ofg_info.uoi_manual_ofg_id);
                    jq('#uoi_custom_name').attr('value',unc_ofg_info.uoi_custom_name);
                    jq('#uoi_to_place').val(unc_ofg_info.uoi_to_place);//.val(unc_ofg_info.uoi_to_place);
                    jq('#user_name').attr('value',unc_ofg_info.user_name);
                    jq('#uoi_date').attr('value',unc_ofg_info.uoi_date);
                    jq('#uoi_project_name').attr('value',unc_ofg_info.uoi_project_name);
                    jq('#uoi_provider_name').attr('value',unc_ofg_info.uoi_provider_name);
                    if (type == 0){
                        jq('.look_disabled').addClass('layui-disabled');
                        jq('.look_disabled').attr('disabled',true);
                    }else
                        addGoodsTableRow();
                    layui.form.render('select');
                });
            });
            //父级调用 获取参数
            function getData() {
                var jq = layui.jquery;
                var unc_ofg_info = new Object();
                var uoi_to = jq('#uoi_to').val().trim();
                var uoi_manual_ofg_id = jq('#uoi_manual_ofg_id').val().trim();
                var uoi_custom_name = jq('#uoi_custom_name').val().trim();
                var uoi_to_place = jq("#uoi_to_place").find("option:selected").val().trim();
                var uoi_project_name = jq('#uoi_project_name').val().trim();
                var uoi_provider_name = jq('#uoi_provider_name').val().trim();
                unc_ofg_info.uoi_id = uoi_id;
                unc_ofg_info.uoi_to = uoi_to;
                unc_ofg_info.uoi_manual_ofg_id = uoi_manual_ofg_id;
                unc_ofg_info.uoi_custom_name = uoi_custom_name;
                unc_ofg_info.uoi_to_place = uoi_to_place;
                unc_ofg_info.user_name = jq('#user_name').val();
                unc_ofg_info.uoi_date = jq('#uoi_date').val();
                unc_ofg_info.uoi_project_name = uoi_project_name;
                unc_ofg_info.uoi_provider_name = uoi_provider_name;
                var tableItem = getGoodsTable();
                var retData = new Object();
                retData.unc_ofg_info = unc_ofg_info;
                retData.unc_ofg_items = tableItem;
                retData.del_unc_ofg_detail_id_arr = delrowid;
                // if ((tableItem == null || tableItem.length == 0) && uoi_to == "" && uoi_manual_ofg_id == ""
                //  && uoi_custom_name == "" && uoi_to_place == "" && uoi_project_name == "" && uoi_provider_name == ""){
                //     return null;
                // }

                if(tableItem === false)
                {
                    return false;
                }
                if (uoi_manual_ofg_id == ""){
                    layer.msg('订单编号不能为空！',{icon:2});
                    return false;
                }
                if (uoi_to == "" || uoi_manual_ofg_id == "" || uoi_custom_name == ""
                    || uoi_to_place == ""){
                    layer.msg('请填写完整非定型订货单信息！',{icon:2});
                    return false;
                }
                console.log(111);
                var retbo = false;
                jq.ajax({
                    url: "{:url('admin/uncofginfo/checkid')}",//php文件路径
                    data: {
                       id:uoi_manual_ofg_id,
                        uoi_id:uoi_id,
                    },
                    type: 'POST',
                    async: false,
                    success: function(e) {
                        if(e){
                            retbo = true;
                        }else if(!e){
                            layer.msg('订单编号已经存在！',{icon:2});
                            retbo = false;
                        }
                    }
                })
                if (retbo){
                    return retData;
                }
                else {
                    return false;
                }
            }

            function getPrintData() {
                var jq = layui.jquery;
                var unc_ofg_info = new Object();
                var uoi_to = jq('#uoi_to').val().trim();
                var uoi_manual_ofg_id = jq('#uoi_manual_ofg_id').val().trim();
                var uoi_custom_name = jq('#uoi_custom_name').val().trim();
                var uoi_to_place = jq("#uoi_to_place").find("option:selected").val().trim();
                var uoi_project_name = jq('#uoi_project_name').val().trim();
                var uoi_provider_name = jq('#uoi_provider_name').val().trim();
                unc_ofg_info.uoi_id = uoi_id;
                unc_ofg_info.uoi_to = uoi_to;
                unc_ofg_info.uoi_manual_ofg_id = uoi_manual_ofg_id;
                unc_ofg_info.uoi_custom_name = uoi_custom_name;
                unc_ofg_info.uoi_to_place = uoi_to_place;
                unc_ofg_info.user_name = jq('#user_name').val();
                unc_ofg_info.uoi_date = jq('#uoi_date').val();
                unc_ofg_info.uoi_project_name = uoi_project_name;
                unc_ofg_info.uoi_provider_name = uoi_provider_name;
                unc_ofg_info.productlist = getGoodsTable();
                if(unc_ofg_info.productlist === false)
                    return null;
                return unc_ofg_info;
            }

            //增加清单一行
            var rowIndex = 0;
            function addGoodsTableRow() {
                var jq = layui.jquery;
                var rowNum = jq('#tableorder')[0].rows.length;
                var newRow = jq('#tableorder')[0].insertRow(rowNum);//指定位置插入行

                //保存每一行的标志
                jq(newRow).attr('rowIndex',rowIndex);
                jq(newRow).attr('uod_id',"");
                jq(newRow).attr('isExistModel',true);
                var col = newRow.insertCell(0);//添加列
                col.innerHTML = "<td ><a style='margin: 0px 10px' >"+rowNum+"</a></td>";
                col = newRow.insertCell(1);
                col.innerHTML = "<td><input type='text' id ='model"+rowIndex+"' class='layui-input autocomplete-input look_disabled' style='color: #0C0C0C ;border:0px'/></td>";
                col = newRow.insertCell(2);
                col.innerHTML ="<td ><input type='text' id='product_info_name"+rowIndex+"' class='layui-input look_disabled' style='color: #0C0C0C ;border:0px'/></td>";
                col = newRow.insertCell(3);
                col.innerHTML ="<td ><select id='product_type_id"+rowIndex+"' style='border: none;' name='product_type_id'  class=' select-style-border-none look_disabled' > <option value='' selected>请选择</option>{volist name='producttypelist' id='vo'} <option value={$vo.product_type_id}>{$vo.product_type_name}</option>{/volist} </select></td>";
                col = newRow.insertCell(4);
                col.innerHTML ="<td><select id='brand_id"+rowIndex+"' style='color: #0C0C0C ;border:0px' name='brand_name' lay-filter='brand_name' class=' select-style-border-none look_disabled'> <option value='' selected>请选择</option>{volist name='brandlist' id='vo'};col_1.innerHTML =<option value={$vo.brand_id}>{$vo.brand_name}</option>{/volist} </select></td>";
                col = newRow.insertCell(5);
                col.innerHTML ="<td><select id='place_id"+rowIndex+"' style='color: #0C0C0C ;border:0px' name='place_name' lay-filter='place_name' class=' select-style-border-none look_disabled' > <option value='' selected>请选择</option>{volist name='placelist' id='vo'} <option value={$vo.place_id}>{$vo.place_name}</option>{/volist} </select></td>";
                col = newRow.insertCell(6);
                col.innerHTML ="<td><input type='text' id='uod_unit"+rowIndex+"' name='uod_unit' class='layui-input  look_disabled' style='color: #0C0C0C ;border:0px' oninput='detectinputtext(this);'></td>";
                col = newRow.insertCell(7);
                col.innerHTML ="<td><input type='text' id='uod_count"+rowIndex+"' name='uod_count' class='layui-input  look_disabled' style='color: #0C0C0C ;border:0px' oninput='detectinputnumber(this);'></td>";
                col = newRow.insertCell(8);
                col.innerHTML ="<td><select id='unc_product_id"+rowIndex+"' name='unc_product_id' lay-filter='unc_product_id'  class='select-style-border-none look_disabled'> <option value='' selected >请选择</option>{volist name='uncproductlist' id='vo1'} <option value={$vo1.unc_product_id}>{$vo1.unc_product_name}</option>{/volist} </select></td>";
                col = newRow.insertCell(9);
                col.innerHTML ="<td><input type='text' id='uod_requirement"+rowIndex+"' name='uod_requirement' class='layui-input  look_disabled' style='color: #0C0C0C ;border:0px' oninput='detectinputtext(this);'></td>";
                col = newRow.insertCell(10);
                col.innerHTML ="<td><input type='text' name='uod_delivery_date' id='uod_delivery_date"+rowIndex+"' autocomplete='on' class='layui-input time-item look_disabled' style='border: 0px'></td>";
                jq.each(jq(".time-item"),function(){
                    layui.laydate.render({ elem: this });
                });
                col = newRow.insertCell(11);
                col.innerHTML ="<td><input type='text' name='uod_comment' id='uod_comment"+rowIndex+"' lay-filter='uod_comment' style='color: #0C0C0C ;border:0px' class='layui-input look_disabled' oninput='detectinputtext(this);'></td>";
                if (type == 1){
                    col = newRow.insertCell(12);
                    col.innerHTML = "<td>" + "<a class='layui-btn layui-btn-xs layui-btn-danger del_btn'>删除</a>" +"</td>";
                }else {
                    col = newRow.insertCell(12);
                    col.innerHTML = "<td></td>";
                }
                var model ="#"+ "model"+rowIndex;
                $(model).autocomplete({
                    source: function (request, response) {
                        var serachText = $(model).val().trim();
                        console.log(11);
                        jq.ajax({
                            url: "{:url('index/common/serachmodelinfo')}",
                            type: "POST",
                            dataType: "json",
                            data: { serrchText:serachText},
                            success: function (data) {
                                response(jq.map(data, function (item) {
                                    return {
                                        label: item.model,
                                        value: item.model,
                                    }
                                }));
                            },
                        });},
                    select:function (event,ui) {
                        jq(model).val(ui.item.value);
                        jq(model).blur();
                    }
                });
                var product_info_name = "#"+"product_info_name"+ rowIndex ;
                var product_type_id = "#"+"product_type_id"+rowIndex ;
                var brand_id = "#"+"brand_id"+rowIndex ;
                var place_id = "#"+"place_id"+rowIndex ;
                $(model).blur(function () {
                    var modelname = jq(model).val();
                    if(modelname == '')
                        return ;
                    jq.ajax({
                        url: "{:url('index/Common/coldserachmodelinfo')}",
                        type: "POST",
                        dataType: "json",
                        async: false,
                        data: { serrchText: modelname},
                        success: function (data) {
                            if(data == "" || data == null || data === undefined||data.length == 0) {
                                console.log(173);
                                top.layer.confirm('型号: <span style="color: red">'+modelname+'</span> 在数据库不存在，是否录入', {
                                    btn: ['是','否'] //按钮
                                }, function(index){
                                    isExistModel = false;
                                    top.layer.close(index);
                                    jq(newRow).attr('isExistModel',false);
                                    jq(newRow).attr('product_info_id','');
                                    if(jq('#tableorder')[0].rows.length-1 == rowNum )//只有经理才增加
                                    {
                                        addGoodsTableRow();
                                    }
                                } ,function () {
                                    jq(model).val('');
                                    jq(model).focus();
                                });
                            } else {
                                jq(product_info_name).val(data[0]['product_info_name']);
                                jq(product_type_id).val(data[0]['product_type_id']);
                                jq(brand_id).val(data[0]['brand_id']);
                                jq(place_id).val(data[0]['place_id']);
                                jq(newRow).attr('product_info_id',data[0]['product_info_id']);
                                ///还要处理
                                layui.form.render('select');

                                jq(newRow).attr('isExistModel',true);
                                if(jq('#tableorder')[0].rows.length-1 == rowNum )//只有经理才增加
                                {
                                    addGoodsTableRow();
                                }
                            }
                        },
                    });


                });
                rowIndex++;
                layui.form.render('select');
            }
            //给清单赋值
            function setGoodsRowValue(data,rowNum) {
                console.log(data);
                var table = document.getElementById('tableorder');
                var row = table.rows[rowNum];
                var rowIndex = $(row).attr('rowIndex');
                $(row).attr('uod_id',data['uod_id']);
                $(row).attr('isExistModel',true);
                $('#model'+rowIndex).val(data['model']);
                $('#product_info_name'+rowIndex).val(data['product_info_name']);
                $('#product_type_id'+rowIndex).val(data['product_type_id']);
                $('#brand_id'+rowIndex).val(data['brand_id']);
                $('#place_id'+rowIndex).val(data['place_id']);
                $('#uod_count'+rowIndex).val(data['uod_count']);
                $('#uod_unit'+rowIndex).val(data['uod_unit']);
                $('#unc_product_id'+rowIndex).val(data['unc_product_id']);
                $('#uod_requirement'+rowIndex).val(data['uod_requirement']);
                if(data['uod_delivery_date'] != '2000-01-01' )
                    $('#uod_delivery_date'+rowIndex).val(data['uod_delivery_date']);
                $('#uod_comment'+rowIndex).val(data['uod_comment']);
            }
            //获取全部清单，错误返回false
            function getGoodsTable() {
                var table = document.getElementById('tableorder');
                if(table.rows.length <=1)
                    return {};
                var data = Array();
                for(var i =1 ;i< table.rows.length;i++)
                {
                    var row = table.rows[i];
                    var rowIndex = $(row).attr('rowIndex');
                    if($("#model"+rowIndex).val() == ''&& i != table.rows.length-1)
                    {
                        top.layer.msg('订购清单第'+i+'行型号不能为空',{icon:2});
                        return false;
                    }
                    else if($("#model"+rowIndex).val() == ''&& i == table.rows.length-1)
                    {
                        break;
                    }
                    var rowdata = {};
                    rowdata.model = $("#model"+rowIndex).val();
                    rowdata.product_info_name = $('#product_info_name'+rowIndex).val();
                    rowdata.product_type_id = $('#product_type_id'+rowIndex).val();
                    if(rowdata.product_type_id == "" || rowdata.product_type_id == undefined || rowdata.product_type_id == null){
                        top.layer.msg('订购清单第'+i+'行，请输入产品分类',{icon:2});
                        return false;
                    }
                    rowdata.brand_id = $('#brand_id'+rowIndex).val();
                    if(rowdata.brand_id == "" || rowdata.brand_id == undefined || rowdata.brand_id == null){
                        top.layer.msg('订购清单第'+i+'行，请输入品牌',{icon:2});
                        return false;
                    }
                    rowdata.place_id = $('#place_id'+rowIndex).val();//
                    if(rowdata.place_id == "" || rowdata.place_id == undefined || rowdata.place_id == null){
                        rowdata.place_id = -1;
                    }
                    rowdata.uod_unit = $('#uod_unit'+rowIndex).val();
                    rowdata.uod_count = $('#uod_count'+rowIndex).val();
                    if(rowdata.uod_count == "" || rowdata.uod_count == undefined || rowdata.uod_count == null){
                        top.layer.msg('订购清单第'+i+'行，请输入数量',{icon:2});
                        return false;
                    }
                    rowdata.uod_requirement = $('#uod_requirement'+rowIndex).val();
                    rowdata.uod_delivery_date = $('#uod_delivery_date'+rowIndex).val();
                    if(rowdata.uod_delivery_date == "" || rowdata.uod_delivery_date == undefined || rowdata.uod_delivery_date == null){
                        rowdata.uod_delivery_date = '2000-01-01';
                    }
                    rowdata.uod_comment = $('#uod_comment'+rowIndex).val();

                    rowdata.unc_product_id = $('#unc_product_id'+rowIndex).val();
                    if(rowdata.unc_product_id == "" || rowdata.unc_product_id == undefined || rowdata.unc_product_id == null){
                        rowdata.unc_product_id = -1;
                    }
                    rowdata.uod_id = $(row).attr('uod_id');
                    rowdata.isExistModel = $(row).attr('isExistModel');
                    rowdata.product_info_id= $(row).attr('product_info_id');
                    data[i-1]=rowdata;
                }
                return data;
            }

        </script>
    </body>
</html>