<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> 
        <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    	<style type="text/css">
            .hide{
                display: none;
            }
            .textcenter{
                text-align: center;
                left: 50%;
            }
    	</style>
    </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
            {if condition="$print_power eq 8"}
                {if condition="$type eq 0"}
                    {if condition="$parenttype eq 0"}
                    <div style="padding-top: 20px;">
                        <h3 class="textcenter" style="margin-bottom: -30px">非定型产品订货单</h3>
                        <div style="float: right;">
                                <input style="color: red;" type="button" value="打印" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="printorder">
                        </div>
                     </div>
                        {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
                    {/if}
                    {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
                {/if}
                {else}<div style="padding-top: 20px;"><h3>非定型产品订货单</h3></div>
            {/if}
            <div class="layui-form-item" style="padding-top: 10px;">
                <label class="layui-form-label">TO:</label>
                <div class="layui-input-block">
                    <input type="text" id="uoi_to" name="uoi_to" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="uoi_manual_ofg_id" name="uoi_manual_ofg_id" lay-verify="" placeholder="" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="uoi_custom_name" name="uoi_custom_name" lay-verify="" placeholder="" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下达工厂</label>
                    <div class="layui-input-inline">
                        <select id="uoi_to_place" name="uoi_to_place">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="迪士普">迪士普</option>
                            <option value="盛葆">盛葆</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" id="user_name" lay-verify="" placeholder="" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="uoi_date" id="uoi_date" autocomplete="on" value="{$date}" class="layui-input"> </div>
                </div>
            </div>

            <div>
                <h3 class="textcenter" style="margin-bottom: -30px">订购清单</h3>
                <div>
                    <input type="button" value="添加清单" id="btn_add_order_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add_order_item">
                </div>
            </div>

            <table class="layui-table" id="tableorder">
                <colgroup>
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>产品名称</th>
                        <th>生产地</th>
                        <th>型号</th>
                        <th>非常规产品</th>
                        <th>数量</th>
                        <th>单位</th>
                        <th>订制要求</th>
                        <th>要求交货日期</th>
                        <th>备注</th>
                        <th class="dark_blue">操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="layui-form-item">
                <label class="layui-form-label dark_blue">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="uoi_project_name" id="uoi_project_name" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label dark_blue">提供商</label>
                <div class="layui-input-block">
                    <input type="text" name="uoi_provider_name" id="uoi_provider_name" autocomplete="on" placeholder="" class="layui-input"> </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
            var uoi_id = "";
            var delrowid = new Array();
            var type = 1;     //当前页面模式 说明：0:不可编辑 1：编辑
            var cs_id = "";   //当前非定型订单的流水号
            $(document).ready(function() {
                var layer = layui.layer;
                type = {$type};
                var data = null;
                var wlength = window.parent.length;
                var wParent = window.parent[window.parent.length - 2];
                if(wParent.getUncofgInfoUI){
                    data = wParent.getUncofgInfoUI();
                }else {
                    if(wParent[0].getUncofgInfoUI){
                        data = wParent[0].getUncofgInfoUI();
                    }
                }
                //var wParent = window.parent[window.parent.length - 2];
                //var data = wParent.getUncofgInfoUI();
                var jq = layui.jquery;
                if (type == 0){
                    $('#uoi_to').attr("disabled","disabled");
                    $('#btn_add_order_item').attr("disabled","disabled");
                    $('#btn_add_order_item').addClass('layui-disabled');
                    $('#uoi_manual_ofg_id').attr("disabled","disabled");
                    $('#uoi_custom_name').attr("disabled","disabled");
                    $('#uoi_to_place').attr("disabled","disabled");
                    $('#user_name').attr("disabled","disabled");
                    $('#uoi_date').attr("disabled","disabled");
                    $('#uoi_project_name').attr("disabled","disabled");
                    $('#uoi_provider_name').attr("disabled","disabled");
                    $('#btn_add_order_item').attr("disabled","disabled");
                }
                if(data == null){
                    return;
                }

                var unc_ofg_info = data.unc_ofg_info;
                var tableData = data.unc_ofg_items;
                if (tableData != null && tableData != ""){
                    var length = tableData.length;
                    for (var i = 0; i < length; i++){
                        addTableItem(tableData[i],i + 1);
                    }
                }
                uoi_id = unc_ofg_info.uoi_id;
                jq('#uoi_to').attr('value',unc_ofg_info.uoi_to);
                jq('#uoi_manual_ofg_id').attr('value',unc_ofg_info.uoi_manual_ofg_id);
                jq('#uoi_custom_name').attr('value',unc_ofg_info.uoi_custom_name);
                jq('#uoi_to_place').val(unc_ofg_info.uoi_to_place);//.val(unc_ofg_info.uoi_to_place);
                jq('#user_name').attr('value',unc_ofg_info.user_name);
                jq('#uoi_date').attr('value',unc_ofg_info.uoi_date);
                jq('#uoi_project_name').attr('value',unc_ofg_info.uoi_project_name);
                jq('#uoi_provider_name').attr('value',unc_ofg_info.uoi_provider_name);
            });

            layui.use(['form', 'laydate','jquery'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    jq = layui.jquery,
                    laydate = layui.laydate;

                /*日期*/
                laydate.render({
                    elem: '#requireddeliverydate',
                    position: 'fixed',
                    theme: 'molv'
                });
                //添加清单明显
                jq('#btn_add_order_item').click(function () {
                    openWindow();
                    return false;
                });
                //编辑行
                jq(document).on('click', '.edit_btn', function() {
                    var text = jq(this).parent().parent();
                    var tableRowIndex = jq(text[0].cells[0].innerHTML).text();
                    openWindow(tableRowIndex);
                });
                //删除行
                jq(document).on('click', '.del_btn', function(){
                    var text = jq(this).parent().parent();
                    top.layer.confirm('是否删除此行信息？', {
                        btn: ['是','否'] //按钮
                    }, function(index){
                        var uod_id = jq(text).attr("uod_id");
                        if (uod_id === undefined || uod_id == ""){
                            //return;
                        }else {
                            delrowid.push(uod_id);
                        }
                        jq('#tableorder')[0].deleteRow(jq(text[0].cells[0].innerHTML).text());


                        var table = document.getElementById("tableorder"); //获得整个表格对象
                        for (var i = 1; i < table.rows.length; i++) {
                            var rowObj = table.rows[i]
                            var cell = rowObj.cells[0];
                            cell.innerHTML ="<a>"+ i+"</a>";
                        }
                        top.layer.close(index);
                    }, function(){

                    });

                });

                /*打印非定型订单*/
                form.on('submit(printorder)',function(){
                    var cs_id = {$cs_id};
                    if(cs_id == 0){
                        return;
                    }
                    top.layer.open({
                        type: 2,
                        area: ['600px', '250px'],
                        shade: 0.6,
                        shadeClose:true,
                        title: '设置导出参数',
                        resize:false,
                        btn: ['保存','取消'],
                        content: "{:url('admin/setexportfileparam/setexportfileparam')}",
                        yes:function(index,layero){
                                var iframeWin = top.window[layero.find('iframe')[0]['name']];
                                var exportparam = iframeWin.getexportparam();
                                top.layer.close(index);
                                window.open("{:url('admin/uncofginfo/printuncofginfo')}?cs_id="+ cs_id + "&file_name=" + exportparam.file_name+ "&file_extend=" + exportparam.file_extend,"_self");
                            }
                        });
                    return false;
                });
            });
            //编辑或者新增Item 窗体，tableRowIndex：表序号 新增不填
            function openWindow(tableRowIndex) {
                var jq = layui.jquery;
                var layer = layui.layer;
                top.layer.open({
                    type:2,
                    title:'新增清单',
                    area:['600px','80%'],
                    shade: [0.7, '#393D49'],
                    skin: 'layui-layer-molv',
                    maxmin:false,
                    content:"{:url('admin/uncofginfoitem/uncofginfoitem')}",
                    btn:['确定','退出'],
                    yes:function (index,layero) {
                        var  iframeWin = top.window[layero.find('iframe')[0]['name']];
                        var  orderItem = iframeWin.saveOrderItem();
                        if (orderItem == "" || orderItem == null){
                            return false;
                        }

                        if(tableRowIndex === undefined || tableRowIndex == null || tableRowIndex == ""){
                            var rowIndex = jq('#tableorder')[0].rows.length;
                            addTableItem(orderItem,rowIndex);
                            top.layer.msg('新增清单成功，序号：'+ rowIndex,{icon:1});
                            iframeWin.clear();
                        }
                        else {
                            jq('#tableorder')[0].deleteRow(tableRowIndex);
                            addTableItem(orderItem,tableRowIndex);
                            top.layer.close(index);
                        }

                        //top.layer.close(index);
                    },
                    btn2: function (index) {
                        top.layer.close(index);
                    },
                    success:function (layero, index){
                        if(tableRowIndex === undefined || tableRowIndex == null || tableRowIndex == ""){
                        }
                        else {
                            var rowData = getTableItemToDBObject(tableRowIndex);
                            var iframeWin = top.window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                            iframeWin.loadingData(rowData);
                        }
                    },
                });
            }
            //新增一条表数据   rowindex：插入位置
            function addTableItem(itemData,rowIndex) {
                if (itemData == null){
                    return;
                }
                var jq = layui.jquery;
                //+判断
                var product_type_id = itemData.product_type_id;
                var product_type_name = itemData.product_type_name;

                var brand_id = itemData.brand_id;
                var brand_name = itemData.brand_name;
                var product_info_id = itemData.product_info_id;
                var product_info_name = itemData.product_info_name;
                var model = itemData.model;

                var place_id = itemData.place_id;
                var place_name = itemData.place_name;

                var uod_id = itemData.uod_id;
                var uod_unit = itemData.uod_unit;
                var uod_count =itemData.uod_count;
                var uod_delivery_date = itemData.uod_delivery_date;
                var uod_requirement = itemData.uod_requirement
                var uod_comment = itemData.uod_comment;

                var unc_product_id = itemData.unc_product_id;
                var unc_product_name = itemData.unc_product_name;

                var new_tr = jq('#tableorder')[0].insertRow(rowIndex);//指定位置插入行
                jq(new_tr).attr('uod_id',uod_id);
                var col_0 = new_tr.insertCell(0);//添加列
                col_0.innerHTML = "<td><a>"+ rowIndex+"</a></td>";
                var col_1 = new_tr.insertCell(1);
                col_1.innerHTML = "<td><a tag='"+ product_type_id +"'>"+ product_type_name +"</a></td>";
                var col_2 = new_tr.insertCell(2);
                col_2.innerHTML = "<td><a tag='"+ brand_id +"'>"+ brand_name +"</a></td>";

                var col_3 = new_tr.insertCell(3);
                col_3.innerHTML = "<td><a>"+ product_info_name +"</a></td>";//-------产品名称-------

                var col_4 = new_tr.insertCell(4);
                col_4.innerHTML = "<td><a tag = '"+ place_id +"'>"+ place_name +"</a></td>";



                var col_5 = new_tr.insertCell(5);
                col_5.innerHTML = "<td><a tag='" + product_info_id + "'>"+ model +"</a></td>";

                var col_6 = new_tr.insertCell(6);
                col_6.innerHTML = "<td><a tag='" + unc_product_id + "'>"+ unc_product_name +"</a></td>";

                var col_7 = new_tr.insertCell(7);
                col_7.innerHTML = "<td><a>"+ uod_count +"</a></td>";
                var col_8 = new_tr.insertCell(8);
                col_8.innerHTML = "<td><a>"+ uod_unit +"</a></td>";
                var col_9 = new_tr.insertCell(9);
                col_9.innerHTML = "<td><a>"+ uod_requirement +"</a></td>";
                var col_10 = new_tr.insertCell(10);
                col_10.innerHTML = "<td><a>"+ uod_delivery_date +"</a></td>";
                var col_11 = new_tr.insertCell(11);
                col_11.innerHTML = "<td><a>"+ uod_comment +"</a></td>";
                if (type == 1){
                    var col_12 = new_tr.insertCell(12);
                    col_12.innerHTML = "<td>" + "<a class='layui-btn layui-btn-xs edit_btn'>编辑</a>" + "<a class='layui-btn layui-btn-xs layui-btn-danger del_btn'>删除</a>" +"</td>";
                }else {
                    var col_12 = new_tr.insertCell(12);
                    col_12.innerHTML = "<td></td>";
                }
            }
            //获取整个表数据
            function getTableDataToDBObject(){
                var jq = layui.jquery;
                var mytable = document.getElementById('tableorder');
                var rows = mytable.rows.length;
                var retArray = [];
                for(var i = 1; i < rows; i++){
                    var itemInfo = getTableItemToDBObject(i);
                    retArray[i - 1] = itemInfo;
                }
                return retArray;
            }
            //获取指定表行数据
            function getTableItemToDBObject(rowIndex){
                var jq = layui.jquery;
                var mytable = document.getElementById('tableorder');
                var itemInfo = {};
                var rowdata = {};
                var rowObj = mytable.rows[rowIndex];
                for(var j = 0,cells = rowObj.cells.length; j<cells; j++){
                    var tag = jq(rowObj.cells[j].innerHTML).attr('tag');
                    var text = jq(rowObj.cells[j].innerHTML).text();
                    var mymap = {};
                    mymap['tag'] = tag;
                    mymap['text'] = text;
                    rowdata[j] = mymap;
                }
                var uod_id = jq(rowObj).attr('uod_id');
                //DB product_type
                itemInfo.product_type_id = rowdata[1]['tag'];
                itemInfo.product_type_name = rowdata[1]['text'];
                //DB product_brand
                itemInfo.brand_id = rowdata[2]['tag'];
                itemInfo.brand_name = rowdata[2]['text'];
                //DB product_place
                itemInfo.place_id = rowdata[4]['tag'];
                itemInfo.place_name = rowdata[4]['text'];
                //DB product_info
                itemInfo.product_info_name = rowdata[3]['text'];
                itemInfo.product_info_id = rowdata[5]['tag'];
                itemInfo.model = rowdata[5]['text'];
                //DB unc_ofg_detail
                itemInfo.uod_id = uod_id === undefined ? "": uod_id;
                itemInfo.uod_count = rowdata[7]['text'];
                itemInfo.uod_unit = rowdata[8]['text'];
                itemInfo.uod_requirement = rowdata[9]['text'];
                itemInfo.uod_delivery_date = rowdata[10]['text'];
                itemInfo.uod_comment = rowdata[11]['text'];

                itemInfo.unc_product_id = rowdata[6]['tag'];
                itemInfo.unc_product_name = rowdata[6]['text'];
                return itemInfo;
            }
            //父级调用 获取参数
            function getData() {
                var jq = layui.jquery;
                var unc_ofg_info = new Object();
                var uoi_to = jq('#uoi_to').val().trim();
                var uoi_manual_ofg_id = jq('#uoi_manual_ofg_id').val().trim();
                var uoi_custom_name = jq('#uoi_custom_name').val().trim();
                var uoi_to_place = jq("#uoi_to_place").find("option:selected").val().trim();
                var uoi_project_name = jq('#uoi_project_name').val().trim();
                var uoi_provider_name = jq('#uoi_provider_name').val().trim();
                unc_ofg_info.uoi_id = uoi_id;
                unc_ofg_info.uoi_to = uoi_to;
                unc_ofg_info.uoi_manual_ofg_id = uoi_manual_ofg_id;
                unc_ofg_info.uoi_custom_name = uoi_custom_name;
                unc_ofg_info.uoi_to_place = uoi_to_place;
                unc_ofg_info.user_name = jq('#user_name').val();
                unc_ofg_info.uoi_date = jq('#uoi_date').val();
                unc_ofg_info.uoi_project_name = uoi_project_name;
                unc_ofg_info.uoi_provider_name = uoi_provider_name;
                var tableItem = getTableDataToDBObject();
                var retData = new Object();
                retData.unc_ofg_info = unc_ofg_info;
                retData.unc_ofg_items = tableItem;
                retData.del_unc_ofg_detail_id_arr = delrowid;
                if ((tableItem == null || tableItem.length == 0) && uoi_to == "" && uoi_manual_ofg_id == ""
                 && uoi_custom_name == "" && uoi_to_place == "" && uoi_project_name == "" && uoi_provider_name == ""){
                    return null;
                }
                if (uoi_manual_ofg_id == ""){
                    layer.msg('订单编号不能为空！',{icon:2});
                    return false;
                }
                if (uoi_to == "" || uoi_manual_ofg_id == "" || uoi_custom_name == ""
                    || uoi_to_place == ""){
                    layer.msg('请填写完整非定型订货单信息！',{icon:2});
                    return false;
                }
                var retbo = false;
                jq.ajax({
                    url: "{:url('admin/uncofginfo/checkid')}",//php文件路径
                    data: {
                       id:uoi_manual_ofg_id,
                        uoi_id:uoi_id,
                    },
                    type: 'POST',
                    async: false,
                    success: function(e) {
                        if(e){
                            retbo = true;
                        }else if(!e){
                            layer.msg('订单编号已经存在！',{icon:2});
                            retbo = false;
                        }
                    }
                })
                if (retbo){
                    return retData;
                }
                else {
                    return false;
                }
            }
        </script>
    </body>
</html>