<!DOCTYPE html>
<html>
	<head>
		<title>查询更换确认单</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
	</head>
	<body>
		{include file="publictemplate/querysearchcondition"/}
		<div style="margin:20px 10px;">
			<div><h2>更换单查询</h2></div>
			<table class="layui-hide" id="queryreplaceorder" lay-filter="queryreplaceorder"></table>
			<script type="text/html" id="operatebar">
    		<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
            {{#  if(d.cs_info_state != '取消'){ }}
        		{if condition="$editreplacepower eq 2"}
        		  	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        		{/if}
            {{#  } }}

    		{if condition="$deletereplacepower eq 4"}
                {{#  if(d.cs_info_state != '取消'){ }}
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancel">取消</a>
                {{#  } }}
            {/if}
			</script>
		</div>
		<script src="/static/layui/layui.js"></script>
		<script type="text/javascript">
			var  divHeight,clientHeight;
			var current_user_type = 1;
			layui.use(['layer','jquery','laydate','form','table'],function(){
				var form = layui.form ,layer = layui.layer,jq = layui.jquery,laydate = layui.laydate,table = layui.table;

				/*时间控件渲染*/
				laydate.render({
				    elem: '#startdate'
				});
				
				laydate.render({
				    elem: '#enddate'
				});

				/*监听查询按钮*/
				form.on('submit(query)',function(data){
					var queryInfo = data.field;

  			      	table.reload('querytable', {
				        page: {
				          curr: 1
				        }
				        ,where: {
				            queryInfo: queryInfo
				        }
			      	});
		  			return false;
				});
                jq(document).ready(function () {
                    current_user_type = {$current_user_type};

                })
				/*监听导出按钮  style='width:300px;height:60px;*/
				form.on('submit(export)',function(data){
					top.layer.open({
						type: 2,
						area: ['600px', '250px'],
						shade: 0.6,
						shadeClose:true,
						title: '设置导出参数',
						resize:false,
						btn: ['保存','取消'],
						content: "{:url('admin/setexportfileparam/setexportfileparam')}",
						yes:function(index,layero){
		                        var iframeWin = top.window[layero.find('iframe')[0]['name']];
                        		var exportparam = iframeWin.getexportparam();
                        		top.layer.close(index);
                        		var param = new Object();
                        		var startdate = jq('#startdate').val();
                        		if(startdate != ''){
                        			param.startdate = startdate;
                        		}
                        		var enddate = jq('#enddate').val();
                        		if(enddate != ''){
                        			param.enddate = enddate;
                        		}

                        		var departname = jq('#departname').val();
                        		if(departname != ''){
                        			param.departname = departname;
                        		}
                        		var areamanager = jq('#areamanager').val();
                        		if(areamanager != ''){
                        			param.areamanager = areamanager;
                        		}
                        		var orderstate = jq('#orderstate').val();
                        		if(orderstate != ''){
                        			param.orderstate = orderstate;
                        		}
                        		var order_id = jq('#order_id').val();
                        		if(order_id != ''){
                        			param.order_id = order_id;
                        		}
                        		var receiver_name = jq('#receiver_name').val();
                        		if(receiver_name != ''){
                        			param.receiver_name = receiver_name;
                        		}
                        		var yard = jq('#yard').val();
                        		if(yard != ''){
                        			param.yard = yard;
                        		}
                        		var couriernumber = jq('#couriernumber').val();
                        		if(couriernumber != ''){
                        			param.couriernumber = couriernumber;
                        		}
                        		var freightmode = jq('#freightmode').val();
                        		if(freightmode != ''){
                        			param.freightmode = freightmode;
                        		}
                        		var productclass = jq('#productclass').val();
                        		if(productclass != ''){
                        			param.productclass = productclass;
                        		}
                        		var brand = jq('#brand').val();
                        		if(brand != ''){
                        			param.brand = brand;
                        		}
                        		var producttype = jq('#producttype').val();
                        		if(producttype != ''){
                        			param.producttype = producttype;
                        		}
                        		var productarea = jq('#productarea').val();
                        		if(productarea != ''){
                        			param.productarea = productarea;
                        		}
                        		var customproduct = jq('#customproduct').val();
                        		if(customproduct != ''){
                        			param.customproduct = customproduct;
                        		}
                        		window.open("{:url('admin/queryreplaceconfirmorder/exportreplaceconfirmorder')}?param="+ JSON.stringify(param) + "&file_name=" + exportparam.file_name+ "&file_extend=" + exportparam.file_extend,"_self");
							}
						});
					return false;
				});

				divHeight = document.getElementById('serachcondition').offsetHeight;   /*搜索框div高度*/
				clientHeight = jq(window).height()-divHeight-100;                      /*定义table框高度*/

				/*表格渲染*/
				table.render({
				    elem: '#queryreplaceorder'
				    ,height:clientHeight
				    ,url:"{:url('admin/queryreplaceconfirmorder/getexamineorder')}"     //动态获取数据
				    ,cols: [[
                        {type:'checkbox'}
                        ,{field: 'write_date', title: '下单日期', width: 150, sort: true}
                        ,{field:'complete_date',title:'接收日期',width:150,sort:true}
                        ,{field: 'cs_id',title: '流水号', minWidth: 150,sort:true}
                        ,{field: 'build_department_name', title: '部门', minWidth: 150}
                        ,{field: 'build_user_name', title: '区域经理', minWidth: 100}
                        ,{field: 'receiver_name', title: '收件人', minWidth: 100}
                        ,{field: 'product_number', title: '项数', width: 80}
                        ,{field: 'cs_info_state', title: '状态', minWidth: 100}
                        ,{field: 'transfer_fee_mode', title: '运费方式', width: 100}
                        ,{field: 'transfer_order_num', title: '运单号', minWidth: 100}
				      ,{fixed: 'right', title:'操作', width:200, align:'left', toolbar: '#operatebar'}
				    ]]
				    ,id: 'querytable'
				    ,data:[]
				    ,even: true
				    ,page: true //是否显示分页
				    ,limit: 10 //每页默认显示的数量
				    ,done: function(res){
				    	console.log(res);    //res为接口返回的数据
				    }
				  });

				/*监听工具条*/
				table.on('tool(queryreplaceorder)', function(obj){
				    var data = obj.data;
				    if(obj.event === 'detail'){
                        layer.open({
                            type: 2,
                            title: '查看订单详情',
                            area: ['90%', '90%'],
                            shade: 0.9,
                            maxmin: false,
                            content: "{:url('admin/addreplaceconfirmorder/editreplaceconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type= 0",
                            btn: [ '退出'],
                            yes: function (index,layero) {

                                layer.closeAll();
                            }

                        });
				    }else if(obj.event === 'edit'){
                        if(current_user_type == 5)
                        {
                            if(data['complete_date'] == '' || data['complete_date'] == '2000-01-01')
							{
                                logisticFirstEdit(data);
							}
							else
							{
                                logisticEdit(data);
							}
                        }
                        else if(current_user_type == 2|| current_user_type == 3 || current_user_type == 4)
                        {
                            examinerEdit(data);
                        }
                        else if(current_user_type == 1)
						{
						    if(data['can_edit'] == 0)
							{
							   	layer.msg('当前不可编辑',{icon:2});
                                return false;
							}

                            managerEdit(data);

						}

				    }else if(obj.event === 'cancel'){
                        var cs_id = data.cs_id;

                        layer.confirm('确定取消？',{icon:2,title:'提示'},function(index){
                            jq.post("{:url('admin/addreplaceconfirmorder/cancelcsinfo')}",{'cs_id':cs_id},function(data){
                                layer.close(index);
                                obj.update({
                                  cs_info_state: '取消'
                                });
                            });
                        });
                    }
			  	});
				//物流首次编辑
				function logisticFirstEdit(data) {
                    layer.open({
                        type: 2,
                        title: '编辑订单',
                        area: ['90%', '90%'],
                        shade: 0.9,
                        maxmin: false,
                        content: "{:url('admin/addreplaceconfirmorder/editreplaceconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                        btn: [ '确认接收','取消'],
                        yes: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.logisticSave();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            layer.closeAll();
                        },
                        btn2:function () {
                            layer.closeAll();
                        }
                    });
                }
                //物流编辑
                function logisticEdit(data) {
                    layer.open({
                        type: 2,
                        title: '编辑订单',
                        area: ['90%', '90%'],
                        shade: 0.9,
                        maxmin: false,
                        content: "{:url('admin/addreplaceconfirmorder/editreplaceconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                        btn: [ '保存','取消'],
                        yes: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.logisticSave();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            layer.closeAll();
                        },
                        btn2:function () {
                            layer.closeAll();
                        }
                    });
                }
                //审批人员
                function examinerEdit(data) {
                    layer.open({
                        type: 2,
                        title: '新增清单',
                        area: ['90%', '90%'],
                        shade: 0.9,
                        maxmin: false,
                        content: "{:url('admin/addreplaceconfirmorder/editreplaceconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                        btn: ['退回', '提交','取消'],
                        yes: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.returnOrder();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            layer.closeAll();
                        },
                        btn2: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.editDeliver();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            layer.closeAll();
                        },
                        btn3:function () {
                            layer.closeAll();
                        }
                    });
                }
                //经理编辑
                function managerEdit(data) {
                    layer.open({
                        type: 2,
                        title: '新增清单',
                        area: ['90%', '90%'],
                        shade: 0.9,
                        maxmin: false,
                        content: "{:url('admin/addreplaceconfirmorder/editreplaceconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                        btn: ['保存', '提交','取消'],
                        yes: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.managerSave();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            layer.closeAll();
                        },
                        btn2: function (index,layero) {
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            var result = iframeWin.editDeliver();
                            if(result == false)
                                return false;
                            table.reload('querytable', {
                                page: {
                                    curr: 1
                                }
                            });
                            console.log(1111111111111);
                            layer.closeAll();
                        },
                        btn3:function () {
                            layer.closeAll();
                        }
                    });
                }
			});
		</script>
	</body>
</html>