<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>新增订单清单</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/UI-jquery/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
    <body>
        <form class="layui-form layui-form-pane" style="margin-top:40px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">型号：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="serachModelinfo" name="inputmodel" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">产品名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="product_info_name" name="product_info_name" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">产品分类：</label>
                    <div class="layui-input-inline Wheat" style="max-width:120px">
                        <select id="product_type_id" name="type_name" lay-filter="type_name">
                            <option value="" selected>请选择</option> {volist name="producttypelist" id="vo"}
                            <option value={$vo.product_type_id}>{$vo.product_type_name}</option> {/volist} </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">品牌：</label>
                    <div class="layui-input-inline Wheat" style="max-width:120px;" >
                        <select id="brand_id" name="brand_name" lay-filter="brand_name" >
                            <option value="" selected>请选择</option> {volist name="brandlist" id="vo"}
                            <option value={$vo.brand_id}>{$vo.brand_name}</option> {/volist} </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label  Wheat">生产地：</label>
                    <div class="layui-input-inline Wheat"  >
                        <select id="place_id" name="place_name" lay-filter="place_name" class="Wheat_disabled">
                            <option value="" selected>请选择</option>
                            {volist name="placelist" id="vo"}
                            <option value={$vo.place_id}>{$vo.place_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">数量：</label>
                    <div class="layui-input-inline" style="max-width:120px">
                        <input type="text" id="ogcugi_count" name="ogcugi_count" class="layui-input Wheat" oninput="detectinputnumber(this);"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">单位：</label>
                    <div class="layui-input-inline" style="max-width:120px">
                        <input type="text" id="ogcugi_unit" name="ogcugi_unit" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">状态：</label>
                    <div class="layui-input-inline Wheat" style="max-width:120px;z-index: 99">
                        <select id="ogcugi_product_state" name="ogcugi_product_state" lay-filter="ogcugi_product_state">
                            <option value="" selected>请选择</option>
                            <option value="0">未发货</option>
                            <option value="1">处理中</option>
                            <option value="2">已完成</option>
                            <option value="3">取消</option>
                            <option value="4">备货</option>
                            <option value="5">缺货</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">备注：</label>
                <div class="layui-input-block">
                    <input type="text" name="ogcugi_comment" id="ogcugi_comment" class="layui-input Wheat">
                    <!--<textarea name="ogcugi_comment" id="ogcugi_comment" required lay-verify="required" placeholder="请输入" class="layui-textarea Wheat"></textarea>-->
                </div>
            </div>
        </form>
    </body>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/UI-jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/commondetect.js"></script>
    <script type="text/javascript" src="/static/UI-jquery/jquery-ui.js" ></script>
    <script type="text/javascript">
        var ogcugi_id = "";
        var cs_id = "";
        layui.use(['form', 'laydate', 'jquery', 'laydate'], function () {
            var form = layui.form,
                laydate = layui.laydate,
                jq = layui.jquery;
            jq("#serachModelinfo").autocomplete({
                source: function (request, response) {
                    //var product_type = jq("#product_type_id").val();
                    //var brand = jq('#brand_id').val();
                    var serachText = jq("#serachModelinfo").val().trim();;
                    if (product_type == "" || brand == "" || serachText == ""){
                        return;
                    }
                    jq.ajax({
                        url: "{:url('admin/addgoodsconfirmorderitem/serachmodelinfo')}",
                        type: "POST",
                        dataType: "json",
                        data: { serrchText:serachText, type:product_type, brand:brand },
                        success: function (data) {
                            response(jq.map(data, function (item) {
                                return {
                                    label: item.model,
                                    value: item.model,
                                }
                            }));
                        },
                    });
                }
            });
            jq("#serachModelinfo").keypress(function(e){
                var eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
                if (eCode == 13){
                    jq("#serachModelinfo").blur();
                }
            })
            jq("#serachModelinfo").blur(function () {
                var model = jq('#serachModelinfo').val().trim();
                if(model == "") {
                    layer.msg('请选择型号！', { icon: 2 });
                    return null;
                }
                jq('#product_info_name').removeAttr("disabled");
                jq('#product_type_id').removeAttr("disabled");
                jq('#brand_id').removeAttr("disabled");
                jq('#place_id').removeAttr("disabled");
                jq.ajax({
                    url: "{:url('admin/addgoodsconfirmorderitem/coldserachmodel')}",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: { serrchText: model},
                    success: function (data) {
                        console.log(data);
                        if(data == "" || data == null || data === undefined) {
                            console.log(173);
                            top.layer.confirm('"'+ model +'" 型号不存在，是否录入？', {
                                btn: ['是','否']
                            }, function(index){
                                layui.form.render('select');
                                top.layer.close(index);
                            }, function(){
                                jq('#serachModelinfo').val("");
                            });
                        } else {

                            jq('#product_info_name').attr("disabled","disabled");
                            jq('#product_type_id').attr("disabled","disabled");
                            jq('#brand_id').attr("disabled","disabled");
                            jq('#place_id').attr("disabled","disabled");

                            var product_info = data.product_info;
                            var product_type = data.product_type;
                            var product_brand = data.product_brand;
                            var product_place = data.product_place;
                            jq('#product_info_name').val(product_info.product_info_name);

                            jq('#product_type_id').val(product_type.product_type_id);

                            jq('#brand_id').val(product_brand.brand_id);

                            jq('#place_id').val(product_place.place_id);
                                                                                                        ///还要处理
                            layui.form.render('select');
                        }
                    },
                });
            })
        });
        //父级调用
        function saveOrderItem() {
            var jq = layui.jquery;
            var model = jq('#serachModelinfo').val().trim();
            if(model == "") {
                layer.msg('请选择型号！', { icon: 2 });
                return null;
            }

            var product_info_name = jq('#product_info_name').val().trim();
            if(product_info_name == "") {
                layer.msg('请填写产品名称！', { icon: 2 });
                return null;
            }
            var product_type_id = jq('#product_type_id').val();
            if(product_type_id == "") {
                layer.msg('请选择产品分类！', { icon: 2 });
                return null;
            }
            var brand_id = jq('#brand_id').val();
            if(brand_id == "") {
                layer.msg('请选择品牌！', { icon: 2 });
                return null;
            }

            var place_id = jq('#place_id').val();
            if(place_id == "") {
                layer.msg('请生产地！', { icon: 2 });
                return null;
            }

            var ogcugi_count = jq('#ogcugi_count').val();
            if (ogcugi_count == ""){
                layer.msg('请填写数量！', { icon: 2 });
                return null;
            }
            var isright = testRgexp(/^\d+$/, ogcugi_count);
            if(!isright) {
                layer.msg('数量必须未正整数！', { icon: 2 });
                return null;
            }
            var ogcugi_unit = jq('#ogcugi_unit').val();
            if(ogcugi_unit == "") {
                layer.msg('请填写单位！', { icon: 2 });
                return null;
            }
            var ogcugi_product_state = jq("#ogcugi_product_state").find("option:selected").val();
            if(ogcugi_product_state == "") {
                layer.msg('请选择状态！', { icon: 2 });
                return null;
            }
            var orderItem = new Object();
            orderItem.product_type_id = product_type_id;
            var obj = document.getElementById("product_type_id");
            orderItem.product_type_name = obj.options[obj.selectedIndex].text;
            orderItem.brand_id = brand_id;
            var obj1 = document.getElementById("brand_id");
            orderItem.brand_name = obj1.options[obj1.selectedIndex].text;

            var obj2 = document.getElementById("place_id");
            orderItem.place_name = obj2.options[obj2.selectedIndex].text;
            orderItem.place_id = place_id;
            orderItem.product_info_name = product_info_name;
            orderItem.model = model;
            orderItem.ogcugi_count = ogcugi_count;
            orderItem.ogcugi_unit = ogcugi_unit;
            orderItem.ogcugi_product_state = jq("#ogcugi_product_state").find("option:selected").val();
            orderItem.ogcugi_product_state_text = jq("#ogcugi_product_state").find("option:selected").text();
            orderItem.ogcugi_comment = jq('#ogcugi_comment').val();
            orderItem.ogcugi_id = ogcugi_id;
            orderItem.cs_id = cs_id;
            //+判断 型号是否存在，不存在禁止录入
            var canRet = true;
            jq.ajax({
                url: "{:url('admin/addgoodsconfirmorderitem/addmodel')}",
                type: "POST",
                dataType: "json",
                async: false,
                data: { model:model,product_info_name:product_info_name,product_type_id:product_type_id,brand_id:brand_id,place_id:place_id},
                success: function (data) {
                    if(data !="") {
                        orderItem.product_info_id = data;
                    } else {
                        canRet = false;
                    }
                },
            });
            if (canRet){
                return orderItem;
            }else {
                return null;
            }
        }

        function loadingData(data) {
            var jq = layui.jquery;
            ogcugi_id = data.ogcugi_id;
            cs_id = data.cs_id;
            //document.getElementById('product_type_id').value = data.product_type_id;
            //document.getElementById('brand_id').value = data.brand_id;
            jq('#serachModelinfo').val(data.model);
            //data.product_info_id;
            jq('#ogcugi_count').val(data.ogcugi_count);
            jq('#ogcugi_product_state').val(data.ogcugi_product_state);
            jq('#ogcugi_comment').val(data.ogcugi_comment);
            jq('#ogcugi_unit').val(data.ogcugi_unit);
            layui.form.render('select');
        }

        function testRgexp(re, s) { // 参数说明 re 为正则表达式 s 为要判断的字符
            return re.test(s)
        }
    </script>
</html>