<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
        	<div class="toph2">
            	<h2>订货确认单</h2>
           	</div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="date1" id="date1" autocomplete="on" class="layui-input light_gray" value="{$date}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">下单日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="order_date" id="order_date" autocomplete="on" class="layui-input light_gray">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" disabled name="swiftnumber" id="swiftnumber" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_gray">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label dark_blue">状态</label>
                    <div class="layui-input-inline dark_blue">
                        <select name="status">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="0">空</option>
                            <option value="1">处理中</option>
                            <option value="2">已完成</option>
                            <option value="3">取消</option>
                            <option value="4">备货</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3>物流信息</h3>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button id="btn_add_logistics_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btn_add_logistics_item">添加物流</button>
                    <button id="btn_del_logistics_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btn_add_logistics_item">删除</button>

                    <button id="btn_test" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="btn_test">测试按钮</button>
                </div>
            </div>

            <div class="layui-form-item">
            <table class="layui-table" id="tablelogistics">
                <colgroup>
                </colgroup>
                <thead>
                <tr class="Wheat">
                    <th>选择</th>
                    <th>发货日期</th>
                    <th>货场</th>
                    <th>物流单号</th>
                    <th>件数</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="Wheat">

                    </tr>
                </tbody>
            </table>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivery_date" id="delivery_date" autocomplete="on" class="layui-input Wheat">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货场</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goods_yard_name" id="goods_yard_name" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">物流单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transfer_order_num" id="transfer_order_num" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="count" id="count" id lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
            </div>
            <h3>订单信息</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">总部门：</label>
                    <div class="layui-input-inline Wheat">
                        <select id="company_id" name="company_id" lay-filter="company_id">
                            <option value="" selected>请选择</option>
                            {volist name="companylist" id="vo"}
                            <option value="{$vo.organize_id}">{$vo.organize_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">子部门</label>
                    <div class="layui-input-inline Wheat">
                        <select id="department_id" name="department_id" lay-filter="department_id">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">区域经理</label>
                    <div class="layui-input-inline Wheat">
                        <select id="manager_id" name="manager_id" lay-filter="manager_id">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_name" id="receiver_name" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_phone" id="receiver_phone" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">收货地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="receiver_address" id="receiver_address" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat">
                    </div>
                </div>
            </div>
            <h3>费用情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制费用</label>
                    <div class="layui-input-inline">
                        <input type="text" name="customization_fee" id="customization_fee" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transfer_fee" id="transfer_fee" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">运费方式</label>
                    <div class="layui-input-inline Wheat">
                        <select name="transfer_mode">
                            <option value="" disabled="" selected="">选择</option>
                            <option value="1">到付</option>
                            <option value="2">现金</option>
                            <option value="3">代付</option>
                            <option value="4">公司付</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label Wheat">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="comment" id="comment" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
            </div>
            <h3>订制情况</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">货期回复</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivery_date_reply" id="delivery_date_reply" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                	<a id="uncofginfo" class="layui-btn" target="_blank">增加非定型产品订货确认单</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看非定型产品订货确认单</a>
                	<a id="uploadpic" name="uploadpic" class="layui-btn" target="_blank">上传咨询表</a>
                	<a href="javascript:void(0);" class="layui-btn" target="_blank">查看咨询表</a>
               	</div>
            </div>
            <h3>已发货产品</h3>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">总项数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="product_number" id="product_number" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">公共广播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_pa" id="delivered_pa" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">会议系统</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_conference" id="delivered_conference" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">订制</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_customization" id="delivered_customization" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">录播</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_record" id="delivered_record" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">地铁事业</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_metro" id="delivered_metro" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">澳斯迪</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_aux" id="delivered_aux" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">礼品</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_gift" id="delivered_gift" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label Wheat">画册</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivered_album" id="delivered_album" lay-verify="" autocomplete="on" placeholder="" class="layui-input Wheat"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button id="btn_add_order_item" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add_order_item">添加清单</button>
                </div>
            </div>
            <h3>订购清单</h3>
            <table class="layui-table" id="tableorder">
                <colgroup>
                    <!--<col width="150">
                    <col width="200">
                    <col> -->
                </colgroup>
                <thead>
                    <tr class="Wheat">
                        <th>序号</th>
                        <th>产品分类</th>
                        <th>品牌</th>
                        <th>产品名称</th>
                        <th>型号</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>生产地</th>
                        <th class="dark_blue">产品状态</th>
                        <th class="dark_blue">备注</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="layui-form-item">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save">保存</button>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">
            var uncofginfo = null;
            var del_logistics_id_arr = new Array();
            layui.use(['form', 'jquery','layedit', 'laydate','upload'], function () {
                var form = layui.form,
                    jq = layui.jquery,
                    layer = layui.layer,
                    layedit = layui.layedit,
                     upload = layui.upload,
                    laydate = layui.laydate;
                /*日期*/
                laydate.render({
                    elem: '#date1'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#order_date'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#delivery_date'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '#delivery_date_reply'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                laydate.render({
                    elem: '.lala'
                    ,position: 'fixed'
                    ,theme: 'molv'
                });
                //uploadpic

                //执行实例      暂无
                var uploadPic = upload.render({
                    elem: '#uploadpic' //绑定元素
                    ,acceptMime: 'image/*'
                    ,url: '/upload/' //上传接口
                    ,done: function(res){
                        //上传完毕回调
                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });
                //网页加载时  赋值使用
                $(document).ready(function() {
                    //判断此页面是新增还是编辑
                    //如果新增
                    addLogisticsItem(null);
                    //否则 addLogisticsItem(data);
                });
                //监听提交
                form.on('submit(save)', function (uidata) {
                    var logistics_info = getlogisticsInfo();
                    if(logistics_info == null){
                        layer.msg('请填写完整物流信息！',{icon:2});
                        return false;
                    }
                    var logistics_info_length = logistics_info.length;
                    if(logistics_info_length < 1){
                        layer.msg('请填写物流信息！',{icon:2});
                        return false;
                    }

                    jq = layui.jquery;
                    var data = uidata.field;
                    var order_date = data['order_date'];
                    if (order_date == ""){
                        layer.msg('请选择下单时间！',{icon:2});
                        return false;
                    }
                    var manager_id = data['manager_id'];
                    if (manager_id == ""){
                        layer.msg('请选择经理！',{icon:2});
                        return false;
                    }
                    var transfer_mode = data['transfer_mode'];
                    if (transfer_mode == ""){
                        layer.msg('请选择运费方式！',{icon:2});
                        return false;
                    }
                    var delivery_date_reply = data['delivery_date_reply'];
                    if(delivery_date_reply == ""){
                        layer.msg('请选择货期回复！',{icon:2});
                        return false;
                    }
                    console.log(data);
                    //var logistics_info = logisticsInfo();                           //错误
                    console.log('下列输入物流信息：');
                    console.log(logistics_info);
                    var order_goods_cs_info = orderGoodsInfo(data);
                    console.log('下列输入订货确认单信息：');
                    console.log(order_goods_cs_info);
                    var cs_belong = csBelong(data);
                    console.log('下列输入订货所属信息：');
                    console.log(cs_belong);
                    var ofg_info = ofgInfo(data);
                    console.log('下列输入订单信息：');
                    console.log(ofg_info);
                    var fee_info = feeInfo(data);
                    console.log('下列输入费用情况：');
                    console.log(fee_info);
                    var order_goods_cs_undeliver_goods_info = ogcugi();
                    console.log('下列输入清单信息：');
                    console.log(order_goods_cs_undeliver_goods_info);
                    var unc_ofg_info = null;
                    var unc_ofg_detail = null;
                    if (uncofginfo != null){
                        unc_ofg_info = uncofginfo.unc_ofg_info;
                        var unc_ofg_items = uncofginfo.unc_ofg_items;
                        var length = unc_ofg_items.length;
                        for (var i = 0; i < length; i++){
                            if (unc_ofg_detail == null){
                                unc_ofg_detail = [];
                            }
                            var itemInfo = {};
                            itemInfo.uod_id = null;
                            itemInfo.unc_ofg_info_id = null;
                            itemInfo.product_info_id = unc_ofg_items[i].product_info_id
                            itemInfo.uod_count = unc_ofg_items[i].uod_count
                            itemInfo.uod_unit = unc_ofg_items[i].uod_unit;
                            itemInfo.uod_requirement = unc_ofg_items[i].uod_requirement;
                            itemInfo.uod_delivery_date = unc_ofg_items[i].uod_delivery_date;
                            itemInfo.uod_comment = unc_ofg_items[i].uod_comment;
                            unc_ofg_detail[i] = itemInfo;
                        }
                    }
                    console.log('下列非常规订单信息：');
                    console.log(unc_ofg_info);
                    console.log('下列非常规清单信息：');
                    console.log(unc_ofg_detail);
                    jq.ajax({
                        url: "{:url('admin/addgoodsconfirmorder/addcs')}",//php文件路径
                        data: {
                                order_goods_cs_info:order_goods_cs_info,
                                logistics_info:logistics_info,
                                cs_belong:cs_belong,
                                ofg_info:ofg_info,
                                fee_info:fee_info,
                                order_goods_cs_undeliver_goods_info:order_goods_cs_undeliver_goods_info,
                                unc_ofg_info:unc_ofg_info,
                                unc_ofg_detail:unc_ofg_detail
                                },
                        type: 'POST',
                        success: function(e) {
                            if(e){
                                console.log('订单添加成功！');
                                console.log(e);
                                //location.href = "{:url('admin/addgoodsconfirmorder/addgoodsconfirmorder')}";
                            }else if(!e){
                                console.log('订单提交失败！');
                                console.log(e);
                            }
                        }
                    })
                    return false;
                });
                //监听选择公司
                form.on('select(company_id)',function (data) {
                    jq.post("{:url('admin/addgoodsconfirmorder/getdepartmentinfo')}",{'param':data.value},function (data) {
                        //console.log(data);
                        for (var item in data){
                            jq('#department_id').append("<option value='" + data[item]['organize_id'] + "'>" + data[item]['organize_name'] + "</option>>");
                        }
                        form.render('select');
                    })
                });
                //监听选择部门
                form.on('select(department_id)',function (data) {

                    jq.post("{:url('admin/addgoodsconfirmorder/getdspmanagerinfo')}",{'param':data.value},function (data) {
                        for (var item in data){
                            jq('#manager_id').append("<option value='" + data[item]['user_id'] + "' phone='" + data[item]['phone'] + "'>" + data[item]['fullname'] + "</option>>");
                        }
                        form.render('select');
                    })
                });
                //添加物流信息
                jq('#btn_add_logistics_item').click(function () {
                    addLogisticsItem(null);
                    /*var rows = jq('#tablelogistics')[0].rows.length;
                    var new_tr = jq('#tablelogistics')[0].insertRow(rows);//指定位置插入行
                    var col_0 = new_tr.insertCell(0);//添加列
                    col_0.innerHTML = "<td><input type='checkbox' autocomplete='on' class='layui-input Wheat'></td>";
                    var col_1 = new_tr.insertCell(1);//添加列
                    col_1.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat time-item'></td>";
                    jq.each(jq(".time-item"),function(){
                        laydate.render({ elem: this });
                    });
                    var col_2 = new_tr.insertCell(2);//添加列
                    col_2.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                    var col_3 = new_tr.insertCell(3);//添加列
                    col_3.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                    var col_4 = new_tr.insertCell(4);//添加列
                    col_4.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                    form.render('checkbox');*/
                    return false;
                });
                //删除物流信息
                jq('#btn_del_logistics_item').click(function(){
                    jq("#tablelogistics tbody tr").find("td:first input:checkbox").each(function () {
                        var ischecked = jq(this).prop("checked");
                        if(ischecked){
                            var logistics_id = jq(this).parent().parent().attr("logistics_id");
                            jq(this).parent().parent().remove();
                            if (logistics_id === undefined || logistics_id == ""){
                                return;
                            }
                            del_logistics_id_arr.pause(logistics_id);
                        }
                    });
                    return false;
                });
                //添加清单明显
                jq('#btn_add_order_item').click(function () {
                    layer.open({
                        type:2,
                        title:'新增清单',
                        area:['800px','90%'],
                        shade: [0.7, '#393D49'],
                        skin: 'layui-layer-molv',
                        maxmin:false,
                        content:"{:url('admin/addgoodsconfirmorderitem/addgoodsconfirmorderitem')}",
                        btn:['保存','退出'],
                        yes:function (index,layero) {
                            var  iframeWin = window[layero.find('iframe')[0]['name']];
                            var  orderItem = iframeWin.saveOrderItem();
                            if (orderItem == ""){
                                return;
                            }
                            if(orderItem.model_text == null){
                                return null;
                            }
                            addTableItem(orderItem);

                            layer.closeAll();
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                    return false;
                });
                //非定型订单弹窗
                jq('#uncofginfo').click(function () {
                    top.layer.open({
                        type:2,
                        title:'非定型产品订货单',
                        area:['800px','90%'],
                        shade: [0.7, '#393D49'],
                        skin: 'layui-layer-molv',
                        maxmin:true,
                        content:"{:url('admin/uncofginfo/uncofginfo')}",
                        btn:['保存','退出'],
                        yes:function (index,layero) {
                            var  iframeWin = top.window[layero.find('iframe')[0]['name']];
                            uncofginfo = iframeWin.getData();
                            top.layer.closeAll();
                        },
                        btn2: function () {
                            top.layer.closeAll();
                        }
                    });
                    return false;
                })
                //测试使用
                jq('#btn_test').click(function () {
                    var mytable = document.getElementById('tablelogistics');
                    var obj = mytable.rows[1];
                    var lala = jq(obj).attr('goods_yard_name');
                    console.log(lala);
                    console.log(obj);
                    return false;
                })
            });
            //订货确认单信息
            function orderGoodsInfo(data) {
                var order_goods_cs_info = new Object();
                order_goods_cs_info.cs_id = '';
                order_goods_cs_info.ofg_info_id = '';
                order_goods_cs_info.fee_info_id = '';
                order_goods_cs_info.order_date = data['order_date'];
                order_goods_cs_info.delivery_date_reply = data['delivery_date_reply'];
                order_goods_cs_info.unc_ofg_info_id = -1;
                order_goods_cs_info.consult_sheet_file = '';                                    //咨询单文件名（暂无）
                order_goods_cs_info.delivered_total = data['transfer_mode'];
                order_goods_cs_info.delivered_pa = data['delivered_pa'] == "" ? 0 : data['delivered_pa'];
                order_goods_cs_info.delivered_conference = data['delivered_conference'] == "" ? 0 : data['delivered_conference'];
                order_goods_cs_info.delivered_customization = data['delivered_customization'] == "" ? 0 : data['delivered_customization'];
                order_goods_cs_info.delivered_record = data['delivered_record'] == "" ? 0 : data['delivered_record'];
                order_goods_cs_info.delivered_metro = data['delivered_metro'] == "" ? 0 : data['delivered_metro'];
                order_goods_cs_info.delivered_aux = data['delivered_aux'] == "" ? 0 : data['delivered_aux'];
                order_goods_cs_info.delivered_gift = data['delivered_gift'] == "" ? 0 : data['delivered_gift'];
                order_goods_cs_info.delivered_album = data['delivered_album'] == "" ? 0 : data['delivered_album'];
                order_goods_cs_info.product_number = data['product_number'] == "" ? 0 : data['product_number'];
                return order_goods_cs_info;
            }
            //订单信息
            function ofgInfo(data) {

                var ofg_info = new Object();
                ofg_info.ofg_info_id = '';                 //后台添加
                ofg_info.receiver_name = data['receiver_name'];
                ofg_info.receiver_phone = data['receiver_phone'];
                ofg_info.receiver_address = data['receiver_address'];
                ofg_info.user_id = data['manager_id'];
                return ofg_info;
            }
            //费用情况
            function feeInfo(data) {
                var fee_info = new Object();
                fee_info.fee_info_id = '';
                var customization_fee = data['customization_fee'];
                if (typeof(customization_fee) == 'undefined' || customization_fee == ""){
                    customization_fee = -1;
                }
                fee_info.customization_fee = customization_fee;
                var transfer_fee = data['transfer_fee'];
                if(transfer_fee == ""){
                    transfer_fee = -1;
                }

                fee_info.transfer_fee = transfer_fee;
                fee_info.transfer_mode = data['transfer_mode'];
                fee_info.comment = data['comment'];
                return fee_info;
            }
            //订单所属
            function csBelong(data) {
                var jq = layui.jquery;
                var cs_belong = new Object();
                cs_belong.cs_id = data['cs_id'];
                cs_belong.build_organize_id = data['company_id'];
                cs_belong.build_user_id = data['manager_id'];
                cs_belong.cs_belong_create_time = null;
                cs_belong.build_user_name = jq("#manager_id").find("option:selected").text();
                cs_belong.build_organize_name = jq("#company_id").find("option:selected").text();
                cs_belong.build_department_id = data['department_id'];
                cs_belong.build_department_name = jq("#department_id").find("option:selected").text();
                return cs_belong;
            }
            //获取物流信息
            function getlogisticsInfo() {
                var jq = layui.jquery;
                var mytable = document.getElementById('tablelogistics');
                var rows = mytable.rows.length;
                var retArray = [];
                for(var i = 1; i < rows; i++){
                    var rowdata = {};
                    var rowObj = mytable.rows[i]
                    for(var j = 0,cells=mytable.rows[i].cells.length; j<cells; j++){
                        var cellData = mytable.rows[i].cells[j].getElementsByTagName("input")[0].value;
                        rowdata[j] = cellData;
                    }
                    var goods_yard_name = rowdata[2];
                    var transfer_order_num = rowdata[3];
                    var delivery_date = rowdata[1];
                    var count = rowdata[4];
                    if (goods_yard_name == "" && transfer_order_num == "" && delivery_date == "" && count == ""){
                        continue;
                    }
                    if (goods_yard_name == "" || transfer_order_num == "" || delivery_date == "" || count == ""){

                        return null;
                    }
                    var logistics_info = new Object();
                    var logistics_id = jq(rowObj).attr('logistics_id');
                    var cs_id = jq(rowObj).attr('cs_id');
                    var user_id = jq(rowObj).attr('user_id');
                    var time_stamp = jq(rowObj).attr('time_stamp');
                    logistics_info.logistics_id = logistics_id === undefined ? "": logistics_id;
                    logistics_info.cs_id = logistics_id === undefined ? "": cs_id;
                    logistics_info.goods_yard_name = goods_yard_name;
                    logistics_info.transfer_order_num = transfer_order_num;
                    logistics_info.delivery_date = delivery_date;
                    logistics_info.count = count;
                    logistics_info.user_id = user_id === undefined ? "": user_id;                         //登陆ID
                    logistics_info.time_stamp = time_stamp === undefined ? "2000-01-01": time_stamp;                          //无
                    console.log(logistics_info);
                    retArray[i - 1] = logistics_info;
                }
                return retArray;
            }
            //获取表格数据
            function getTableData(){
                var jq = layui.jquery;
                var mytable = document.getElementById('tableorder');
                var data = [];
                var rows = mytable.rows.length;
                for(var i = 1; i < rows; i++){
                    var rowdata = {};
                    for(var j = 0,cells=mytable.rows[i].cells.length; j<cells; j++){
                        var tag = jq(mytable.rows[i].cells[j].innerHTML).attr('tag');
                        var text = jq(mytable.rows[i].cells[j].innerHTML).text();
                        var mymap = {};
                        mymap['tag'] = tag;
                        mymap['text'] = text;
                        rowdata[j] = mymap;
                    }
                    data[i - 1] = rowdata;
                }
                return data;
            }
            //订货确认单 清单
            function ogcugi() {
                var tableData = getTableData();
                var length = tableData.length;
                var order_goods_cs_undeliver_goods_info = [];
                for(var i = 0; i < length ; i++){
                    var tableRowData = tableData[i];
                    var infoItem = {};

                    infoItem.ogcugi_id = '';
                    infoItem.cs_id ='';
                    infoItem.product_info_id = tableRowData[4]['tag'];
                    infoItem.ogcugi_count = tableRowData[6]['text'];
                    infoItem.ogcugi_product_state = tableRowData[8]['tag'];
                    infoItem.ogcugi_comment = tableRowData[9]['text'];
                    infoItem.ogcugi_unit = tableRowData[5]['text'];
                    order_goods_cs_undeliver_goods_info[i] = infoItem;
                }
                return order_goods_cs_undeliver_goods_info;
            }
            //添加订货确认单 清单
            function addTableItem(itemData) {
                var jq = layui.jquery;
                //+判断
                var type_id = itemData.type_id;
                var type_text = itemData.type_text;
                var brand_id = itemData.brand_id;
                var brand_text = itemData.brand_text;
                var model_text = itemData.model_text;
                var product_info_id = itemData.product_info_id;
                var model = itemData.model;
                var unit = itemData.unit;
                var place = itemData.place_id;
                var place_text = itemData.place_text;
                var count =itemData.count;
                var product_state_text = itemData.product_state_text;
                var product_state_id = itemData.product_state_id;

                var comment = itemData.comment;
                var rows = jq('#tableorder')[0].rows.length;
                var new_tr = jq('#tableorder')[0].insertRow(rows);//指定位置插入行
                var col_0 = new_tr.insertCell(0);//添加列
                col_0.innerHTML = "<td><a>"+ rows+"</a></td>";
                var col_1 = new_tr.insertCell(1);
                col_1.innerHTML = "<td><a tag='"+ type_id +"'>"+ type_text +"</a></td>";
                var col_2 = new_tr.insertCell(2);
                col_2.innerHTML = "<td><a tag='"+ brand_id +"'>"+ brand_text +"</a></td>";
                var col_3 = new_tr.insertCell(3);
                col_3.innerHTML = "<td><a>"+ model_text +"</a></td>";//-------产品名称-------
                var col_4 = new_tr.insertCell(4);
                col_4.innerHTML = "<td><a tag='" + product_info_id + "'>"+ model +"</a></td>";
                var col_5 = new_tr.insertCell(5);
                col_5.innerHTML = "<td><a>"+ unit +"</a></td>";
                var col_6 = new_tr.insertCell(6);
                col_6.innerHTML = "<td><a>"+ count +"</a></td>";
                var col_7 = new_tr.insertCell(7);
                col_7.innerHTML = "<td><a tag = '"+ place +"'>"+ place_text +"</a></td>";
                var col_8 = new_tr.insertCell(8);
                col_8.innerHTML = "<td><a tag='" + product_state_id + "'>"+ product_state_text +"</a></td>";
                var col_9 = new_tr.insertCell(9);
                col_9.innerHTML = "<td><a>"+ comment +"</a></td>";
            }
            //页面间数据传递
            function getUncofgInfoUI() {
                return uncofginfo;
            }
            //添加一条物流信息 data == null 表示新增一条空数据
            function addLogisticsItem(data) {
                var jq = layui.jquery;
                var laydate = layui.laydate;
                var form = layui.form;
                var logistics_id = "";
                var cs_id = "";
                var goods_yard_name = "";
                var transfer_order_num = "";
                var delivery_date = "";
                var count = "";
                var user_id = "";//data['user_id'];                         //登陆ID
                var time_stamp = "";                           //无
                if (data != null){
                    logistics_id = data.logistics_id;
                    cs_id = data.cs_id;
                    goods_yard_name = data.goods_yard_name;
                    transfer_order_num = data.transfer_order_num;
                    delivery_date = data.delivery_date;
                    count = data.count;
                    user_id = data.user_id;//data['user_id'];                         //登陆ID
                    time_stamp = data.time_stamp = '2000-01-01';                           //无
                }
                var rows = jq('#tablelogistics')[0].rows.length;
                var new_tr = jq('#tablelogistics')[0].insertRow(rows);//指定位置插入行
                jq(new_tr).attr("logistics_id",logistics_id);
                jq(new_tr).attr("cs_id",cs_id);
                jq(new_tr).attr("goods_yard_name",goods_yard_name);
                jq(new_tr).attr("transfer_order_num",transfer_order_num);
                jq(new_tr).attr("delivery_date",delivery_date);
                jq(new_tr).attr("count",count);
                jq(new_tr).attr("user_id",user_id);
                jq(new_tr).attr("time_stamp",time_stamp);

                var col_0 = new_tr.insertCell(0);//添加列
                col_0.innerHTML = "<td><input type='checkbox' autocomplete='on' class='layui-input Wheat'></td>";
                var col_1 = new_tr.insertCell(1);//添加列
                col_1.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat time-item'></td>";
                jq.each(jq(".time-item"),function(){
                    laydate.render({ elem: this });
                });
                var col_2 = new_tr.insertCell(2);//添加列
                col_2.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                var col_3 = new_tr.insertCell(3);//添加列
                col_3.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                var col_4 = new_tr.insertCell(4);//添加列
                col_4.innerHTML = "<td><input type= 'text' autocomplete='on' class= 'layui-input Wheat'></td>";
                form.render('checkbox');
            }
        </script>
    </body>
</html>