<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> 
    </head>
    <body>
    <div style="margin:15px 10px 5px 10px;min-height: 180px;border: 2px solid #C7C7C7;">
        <form class="layui-form layui-form-pane" id="form" action="">
            <div class="toph2">
                <h2>物流单号输入</h2>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cs_id" id="cs_id" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_gray" oninput="detectinputnumber(this);"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">收货人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consignee" id="consignee" lay-verify="" disabled="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneephone" id="consigneephone" disabled="" lay-verify="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label light_gray">收货地址</label>
                <div class="layui-input-block layui-input-block-custom-settings">
                    <input type="text" name="shippingaddress" id="shippingaddress" disabled="" lay-verify="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">货场名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goods_yard_name" id="goods_yard_name" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_blue"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">运单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transfer_order_num" id="transfer_order_num" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_blue" oninput="detectinputdataletter(this);"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue" style="color:red;">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivery_date" id="delivery_date" autocomplete="on" class="layui-input light_blue"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="count" id="count" autocomplete="on" class="layui-input light_blue" oninput="detectinputnumber(this);"> </div>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="button" class="layui-btn" style="float: right;margin-right: 10px;" lay-submit="" lay-filter="saveinfo" value="保存">
            </div>
        </form>
    </div>
    <div style="margin:20px 10px;">
        <h2 id="h2">物流单查询结果</h2>
        <table class="layui-hide" id="logisticstablequeryresult" lay-filter="logisticstablequeryresult"></table>
    </div>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  if(d.time_stamp == null || d.time_stamp == '2000-01-01 00:00:00'){ }}
            <a class="layui-btn layui-btn-xs" lay-event="sendmessage">发送短信<span class="layui-badge-dot layui-bg-orange"></span></a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-xs" lay-event="sendmessage">发送短信</a>
            {{#  } }}

        </script>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/commondetect.js"></script>
        <script type="text/javascript">
            //禁止backspace键
            document.onkeypress = forbidBackSpace;
            document.onkeydown = forbidBackSpace;
            var winhei,remain,heightone,heigthtwo,formheight;
            function validate(inputValue) {
                var strLength = inputValue.length;
                if(strLength == 13) {
                    var year = parseInt(inputValue.substring(0, 4));
                    var month = parseInt(inputValue.substring(4, 6));
                    var day = parseInt(inputValue.substring(6, 8));
                    if (year >= 1988 && year <= 2088 && month >= 1 && month <= 12 && day >= 0 && day <= 31) {
                        return true;
                    }
                }
                return false;
            }
            layui.use(['form', 'laydate', 'jquery', 'layer', 'table'], function () {
                var form = layui.form,
                    laydate = layui.laydate,
                    $ = layui.jquery,
                    layer = layui.layer,
                    table = layui.table;
                heightone = document.getElementById('form').offsetHeight;
                heigthtwo = document.getElementById('h2').offsetHeight;
                formheight = heightone + heigthtwo;
                winhei = $(window).height();
                remain = winhei - formheight-70;
                if(remain < 200){
                    remain = 200;
                }
                $(window).resize(function () {
                    window.location.reload();
                });
                $("#cs_id").blur(function () {
                    var inputValue = $('#cs_id').val();
                    var ret = validate(inputValue);
                    if(ret === true){
                        $.post(
                            "{:url('admin/inputlogisticsorder/serialnumber')}"
                            , { 'cs_id': inputValue }
                            , function (res) {
                                console.log(res);
                                if (res !== null){
                                    $('#consignee').val(res.receiver_name);
                                    $('#consigneephone').val(res.receiver_phone);
                                    $('#shippingaddress').val(res.receiver_address);
                                }else {
                                    $('#consignee').val('');
                                    $('#consigneephone').val('');
                                    $('#shippingaddress').val('');
                                }
                            });
                    }else {
                        $('#consignee').val('');
                        $('#consigneephone').val('');
                        $('#shippingaddress').val('');
                    }
                    return false;
                });
                $("#cs_id").bind('input propertychange',function (e) {
                    console.log("发生改变");
                    var inputValue = $(this).val();
                    var strLength = inputValue.length;
                    if(strLength == 13){
                        $("#cs_id").blur();
                    }else {
                        $('#consignee').val('');
                        $('#consigneephone').val('');
                        $('#shippingaddress').val('');
                    }
                });
                /*日期*/
                laydate.render({
                    elem: '#delivery_date',
                    position: 'fixed',
                    theme: 'molv'
                });
                form.on('submit(saveinfo)', function (data) {
                    var param = data.field;
                    var cs_id = param['cs_id'];
                    var ret = validate(cs_id);
                    var goods_yard_name = param['goods_yard_name'].trim();
                    var transfer_order_num = param['transfer_order_num'].trim();
                    var delivery_date = param['delivery_date'].trim();
                    var count = param['count'].trim();
                    var consignee = $('#consignee').val().trim();
                    var consigneephone = $('#consigneephone').val().trim();
                    var shippingaddress = $('#shippingaddress').val().trim();
                    if(ret === true){

                    }
                    else {
                        layer.msg('请正确填写流水号！',{icon:2});
                        return false;
                    }
                    if(ret === true && goods_yard_name != ''&& transfer_order_num != ''
                        && delivery_date != ''&& count != ''&& consignee != ''
                        && consigneephone != ''&& shippingaddress != ''){
                        $.post("{:url('admin/inputlogisticsorder/savemessage')}", { 'param': param }, function (res) {
                            if(res == '1') {
                                $('#cs_id').val('');
                                $('#goods_yard_name').val('');
                                $('#transfer_order_num').val('');
                                $('#delivery_date').val('');
                                $('#count').val('');
                                $('#consignee').val('');
                                $('#consigneephone').val('');
                                $('#shippingaddress').val('');
                                layer.msg('保存成功！', { icon: 6 });
                                table.reload('logisticstablequeryresult', {});
                            } else {
                                layer.msg('保存失败！', { icon: 5 });
                            }
                        });
                    }else {
                        layer.msg('请正确填写信息！',{icon:2});
                        return false;
                    }

                    return false;
                });
                //第一个实例
                table.render({
                    elem: '#logisticstablequeryresult',
                    height: remain,
                    url: "{:url('admin/inputlogisticsorder/loadingdata')}",
                    page: true,
                    limit: 10,
                    cols: [[
                        { field: 'cs_id', title: '流水号', sort: true, fixed: 'left' }
                        ,{ field: 'goods_yard_name', title: '货场名称' }
                        ,{ field: 'transfer_order_num', title: '运单号' }
                        ,{ field: 'delivery_date', title: '发货日期' }
                        ,{ field: 'count', title: '件数' }
                        ,{ fixed: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
                        ]
                    ]
                });
                //监听工具条
                table.on('tool(logisticstablequeryresult)', function (obj) {
                    var data = obj.data, //获得当前行数据
                        layEvent = obj.event; //获得 lay-event 对应的值
                    console.log(data);
                    if(layEvent === 'detail') {
                        top.layer.open({
                            type: 2,
                            area: ['80%', '70%'],
                            shade: 0.9,
                            title: ['物流单详情', 'background-color:#636363; color:#fff;'],
                            content: "{:url('admin/inputlogistics/inputlogistics')}?cs_id=" + data.cs_id
                            + "&goods_yard_name=" + data.goods_yard_name
                            + "&transfer_order_num=" + data.transfer_order_num
                            + "&delivery_date=" + data.delivery_date
                            + "&count=" + data.count,
                            btn: ['关闭'],
                            btnAlign: 'c',
                            yes: function (index, layero) {
                                top.layer.close(index);
                            }
                        });
                        /*layer.msg('查看操作');*/
                    } else if(layEvent === 'del') {
                        layer.confirm('真的删除行么', {
                            icon: 3,
                            title: '提示',
                        }, function (index) {
                            var deldata = "logistics_id=" + data.logistics_id;
                            //+ "&cs_id=" + data.cs_id + "&goods_yard_name=" + data.goods_yard_name + "&transfer_order_num=" + data.transfer_order_num + "&delivery_date=" + data.delivery_date + "&count=" + data.count;
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            $.ajax({
                                type: "GET",
                                url: "{:url('admin/inputlogisticsorder/deletedata')}",
                                data: deldata,
                                success: function (msg) {
                                    layer.msg('删除成功！', { icon: 6 });
                                },
                                error: function (data) {
                                    alert(data);
                                }
                            });
                            //向服务端发送删除指令
                        });
                    } else if(layEvent === 'edit') {
                        top.layer.open({
                            type: 2,
                            area: ['80%', '70%'],
                            shade: 0.9,
                            title: ['物流单详情', 'background-color:#636363; color:#fff;'],
                            content: "{:url('admin/editlogistics/editlogistics')}?logistics_id=" + data.logistics_id
                            + "&cs_id=" + data.cs_id
                            + "&goods_yard_name=" + data.goods_yard_name
                            + "&transfer_order_num=" + data.transfer_order_num
                            + "&delivery_date=" + data.delivery_date
                            + "&count=" + data.count
                            + "&time_stamp=" + data.time_stamp,
                            btn: ['保存', '取消'],
                            btnAlign: 'c',
                            yes: function (index, layero) {
                                var iframeWin = top.window[layero.find('iframe')[0]['name']];
                                var editdatasave = iframeWin.getData();
                                if(editdatasave === false){
                                    return;
                                }
                                $.ajax({
                                    type: "GET",
                                    url: "{:url('admin/editlogistics/editsave')}",
                                    data: editdatasave,
                                    success: function (msg) {
                                        if(msg == 0) {
                                            top.layer.msg('保存成功！', { icon: 6 });
                                            top.layer.close(index);
                                        } else if(msg == 2) {
                                            top.layer.msg('保存成功！', { icon: 6 });
                                            top.layer.close(index);
                                        } else {
                                            top.layer.msg('保存失败！', { icon: 5 })
                                        }
                                        table.reload('logisticstablequeryresult', {});
                                    }
                                });
                            },
                            btn2: function (index, layero) {
                                top.layer.close(index);
                            }
                        });
                    } else if(layEvent == 'sendmessage') {
                        $.post("{:url('admin/inputlogisticsorder/sendmessage')}"
                            , { 'cs_id': data.cs_id
                                ,'logistics_id':data.logistics_id
                                ,'goods_yard_name':data.goods_yard_name
                                ,'transfer_order_num':data.transfer_order_num
                                ,'count':data.count}
                            , function (res) {
                            console.log(res);
                            if(res === false){
                                layer.msg('获取收货信息失败！', { icon: 5 });
                            }else if (res === true){
                                if (this.lastChild.nodeType == 1){
                                    $(this.lastChild).remove();
                                }
                                layer.msg('短信发送成功',{ icon: 6 });
                            }else if (res != null){
                                var code = res.code;
                                var strCode= '';
                                switch (code){
                                    case 405:
                                        strCode = '短信内容过长！请修改信息！';
                                        break;
                                    case 408:
                                        strCode = '客户端请求超时！';
                                        break;
                                    case 415:
                                        strCode = '客户端网络问题！';
                                        break;
                                    case 503:
                                        strCode = '服务器繁忙！';
                                        break;
                                    case 503:
                                        strCode = '账号被禁用！';
                                        break;
                                    default:
                                        strCode = '错误代码：' + code;
                                        break;
                                }
                                layer.msg('短信发送失败！' + strCode, { icon: 5 });
                            }
                           /* var params = new Array();
                            params['receiver_name'] = res.receiver_name;
                            params['receiver_phone'] = res.receiver_phone;
                            params['goods_yard_name'] = data.goods_yard_name;
                            params['cs_id'] = data.cs_id;
                            params['count'] = data.count;*/
                        });
                        //layer.msg('发送短信');
                    }
                });
            });
        </script>
    </body>
</html>