<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/public.css"> </head>
    <body>
        <form class="layui-form layui-form-pane" action="">
            <div class="toph2">
                <h2>物流单号输入</h2>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">流水号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cs_id" id="cs_id" lay-verify="" disabled="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> 
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">收货人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consignee" id="consignee" lay-verify="" disabled="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> 
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_gray">收货人电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="consigneephone" id="consigneephone" disabled="" lay-verify="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> 
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
            	<label class="layui-form-label light_gray">收货地址</label>
            	<div class="layui-input-block layui-input-block-custom-settings">
                    <input type="text" name="shippingaddress" id="shippingaddress" disabled="" lay-verify="" autocomplete="on" placeholder="" class="layui-input layui-disabled light_gray"> 
            	</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">货场名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="goods_yard_name" id="goods_yard_name" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_blue"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">运单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="transfer_order_num" id="transfer_order_num" lay-verify="" autocomplete="on" placeholder="" class="layui-input light_blue"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue" style="color:red;">发货日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="delivery_date" id="delivery_date" autocomplete="on" class="layui-input light_blue" value="{$delivery_date}"> </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label light_blue">件数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="count" id="count" autocomplete="on" class="layui-input light_blue" oninput="detectinputnumber(this);"> </div>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/commondetect.js"></script>
        <script type="text/javascript">

            //禁止backspace键
            document.onkeypress = forbidBackSpace;
            document.onkeydown = forbidBackSpace;

            layui.use(['form', 'laydate', 'jquery', 'layer'], function () {
                var form = layui.form,
                    laydate = layui.laydate,
                    $ = layui.jquery,
                    layer = layui.layer;
                /*日期*/
                laydate.render({
                    elem: '#delivery_date',
                    position: 'fixed',
                    theme: 'molv'
                });
                var goods_yard_name = ascii2native('{$goods_yard_name}');
                $('#cs_id').val('{$cs_id}');
                $('#goods_yard_name').val(goods_yard_name);
                $('#transfer_order_num').val('{$transfer_order_num}');
                $('#count').val('{$count}');


                $.post("{:url('admin/inputlogisticsorder/serialnumber')}", { 'cs_id':'{$cs_id}'}, function (res) {
           	        $('#consignee').val(res.receiver_name);
                    $('#consigneephone').val(res.receiver_phone);
                    $('#shippingaddress').val(res.receiver_address);
                });
                
            })
            function ascii2native(n) {
                var n = unescape(n.split("/").join("%"));
                return n;
            }
            function getData() {
                var cs_id = $('#cs_id').val().trim(),
                    goods_yard_name = $('#goods_yard_name').val().trim(),
                    transfer_order_num = $('#transfer_order_num').val().trim(),
                    delivery_date = $('#delivery_date').val().trim(),
                    count = $('#count').val().trim();
                if(goods_yard_name != ''&& transfer_order_num != ''&& delivery_date != ''&& count != ''){
                    var editdatasave = 'logistics_id='+'{$logistics_id}'+'&cs_id='+cs_id+'&goods_yard_name='+goods_yard_name
                        +'&transfer_order_num='+transfer_order_num+'&delivery_date='+delivery_date
                        +'&count='+count+'&time_stamp='+'{$time_stamp}';
                    return  editdatasave;
                }else {
                    layer.msg('请正确填写信息！',{icon:2});
                    return false;
                }
            }
        </script>
    </body>
</html>