<!DOCTYPE html>
<html>
	<head>
		<title>配件确认单审批</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/UI-jquery/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
	</head>
	<body>
		{include file="publictemplate/approveserachcondtion"/}
		<div style="margin:20px 10px;">
			<div><h2>配件待审批订单</h2></div>
			<table class="layui-hide" id="partsorder" lay-filter="partsorder"></table>
			<script type="text/html" id="operatebar">
  			  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看详情</a>
			</script>
		</div>
		<script type="text/javascript" src="/static/js/commondetect.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/UI-jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/layui/layui.js"></script>
		<script type="text/javascript">
            var current_user_type = 1;

            //禁止backspace键
            document.onkeypress = forbidBackSpace;
            document.onkeydown = forbidBackSpace;

			layui.use(['layer','jquery','laydate','form','table'],function(){
				var form = layui.form ,layer = layui.layer,jq = layui.jquery,laydate = layui.laydate,table = layui.table;

				/*时间控件渲染*/
				laydate.render({
				    elem: '#startdate'
				});
				
				laydate.render({
				    elem: '#enddate'
				});

				/*监听查询按钮*/
				form.on('submit(query)',function(data){
					var queryInfo = data.field;

  			      	table.reload('querytable', {
				        page: {
				          curr: 1
				        }
				        ,where: {
				            queryInfo: queryInfo
				        }
			      	});
		  			return false;
				});
                jq(document).ready(function () {
                    current_user_type = "<?php echo $current_user_type?>";
                });
				/*表格渲染*/
				table.render({
				    elem: '#partsorder'
				    ,url:"{:url('admin/approvepartsconfirmorder/getexamineorder')}"     //动态获取数据
				    ,cols: [[
                        {field:'serial_number',title:'序号',width: 80, sort: true}
                        ,{field: 'cs_belong_create_time', title: '下单日期', width: 150,sort: true}
                        ,{field: 'cs_id', title: '流水号', minWidth: 150}
                        ,{field: 'receiver_name', title: '收件人', minWidth: 100}
                        ,{field: 'cs_info_state', title: '状态', minWidth: 100}
                        ,{field: 'build_department_name', title: '部门', minWidth: 150}
                        ,{field: 'build_user_name', title: '区域经理', minWidth: 100}
                        ,{field: 'product_number', title: '项数', width: 80}
				      ,{fixed: 'right', title:'操作', width:150, align:'center', toolbar: '#operatebar'}
				    ]]
				    ,id: 'querytable'
				    ,data:[]
				    ,even: true
				    ,page: true //是否显示分页
				    ,limit: 10 //每页默认显示的数量
				    ,done: function(res){
				    	console.log(res);    //res为接口返回的数据
				    }
				  });

				/*监听工具条*/
				table.on('tool(partsorder)', function(obj){
				    var data = obj.data;
                    if(obj.event === 'detail') {
                        if(current_user_type == 5)
                        {
                            console.log(data);
                            if(data['complete_date'] == '' || data['complete_date'] == '2000-01-01'||data['complete_date'] == '2000-01-01 00:00:00')
                            {
                                logisticFirstEdit(data);
                            }else{
                                logisticEdit(data);
                            }
                        }
                        else
                        {
                            top.layer.open({
                                type: 2,
                                title: [
                                    '审批配件确认单',
                                    'background-color:#636363; color:#fff;'
                                ],
                                area: ['90%', '90%'],
                                shade: 0.9,
                                maxmin: true,
                                content: "{:url('admin/addpartsconfirmorder/editpartsconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                                btn: ['退回', '提交','取消'],
                                btnAlign: 'c',
                                async:false,
                                yes: function (index,layero) {
                                    var iframeWin = top.window[layero.find('iframe')[0]['name']];
                                    var result = iframeWin.returnOrder();
                                    if(result == false)
                                        return false;
                                    layui.table.reload('querytable', {
                                        page: {
                                            curr: 1
                                        }
                                    });
                                    top.layer.closeAll();
                                },
                                btn2: function (index,layero) {
                                    var iframeWin = top.window[layero.find('iframe')[0]['name']];
                                    var result = iframeWin.editDeliver();
                                    if(result == false)
                                        return false;
                                    table.reload('querytable', {
                                        page: {
                                            curr: 1
                                        }
                                    });
                                    top.layer.closeAll();
                                },
                                btn3:function () {
                                    top.layer.closeAll();
                                }
                            });
                        }

                    }
                });
                //经理模糊查询
                jq("#areamanager").autocomplete({
                    max: 12,    //列表里的条目数
                    minChars: 1,    //自动完成激活之前填入的最小字符
                    width: 400,
                    scrollHeight: 300,

                    source:function(request,response){
                        if(jq('#departname').val() == '')
                        {
                            jq.ajax({
                                url:"{:url('index/common/getserachmanarger')}",
                                type:"POST",
                                dataType:"json",
                                data:{serachText:jq('#areamanager').val()},
                                success:function(data){
                                    if(data == null || data == undefined)
                                        return ;
                                    response(jq.map(data,function(item){
                                        return{
                                            label:item.fullname,
                                            value:item.fullname,
                                        }
                                    }));
                                },
                            });
                        }
                        else
                        {
                            jq.ajax({
                                url:"{:url('index/common/getserachmanarger')}",
                                type:"POST",
                                dataType:"json",
                                data:{serachText:jq('#areamanager').val(),organize_name:jq('#departname').val()},
                                success:function(data){
                                    if(data == null || data == undefined)
                                        return ;
                                    response(jq.map(data,function(item){
                                        return{
                                            label:item.fullname,
                                            value:item.fullname,
                                        }
                                    }));
                                },
                            });
                        }

                    },
                    select: function (event, ui) {
                        jq('#areamanager').val(ui.item.fullname);
                        jq("#areamanager").blur();
                    },
                });

                //部门模糊查询
                jq("#departname").autocomplete({
                    source:function(request,response){
                        jq.ajax({
                            url:"{:url('index/common/getserachdepartment')}",
                            type:"POST",
                            dataType:"json",
                            data:{organize_name:jq('#departname').val()},
                            success:function(data){
                                if(data == null || data == undefined)
                                    return ;
                                response(jq.map(data,function(item){
                                    return{
                                        label:item.organize_name,
                                        value:item.organize_name,
                                    }
                                }));
                            },
                        });
                    },
                    select: function (event, ui) {
                        jq('#departname').val(ui.item.organize_name);
                        jq("#departname").blur();
                    },
                });
            });
            //物流首次编辑
            function logisticFirstEdit(data) {
                top.layer.open({
                    type: 2,
                    title: [
                        '审批配件确认单',
                        'background-color:#636363; color:#fff;'
                    ],
                    area: ['90%', '90%'],
                    shade: 0.9,
                    maxmin: true,
                    content: "{:url('admin/addpartsconfirmorder/editpartsconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                    btn: [ '确认接收','取消'],
                    btnAlign: 'c',
                    async:false,
                    yes: function (index,layero) {
                        var iframeWin = top.window[layero.find('iframe')[0]['name']];
                        var result = iframeWin.logisticSave();
                        if(result == false)
                            return false;
                        layui.table.reload('querytable', {
                            page: {
                                curr: 1
                            }
                        });
                        top.layer.closeAll();
                    },
                    btn2:function () {
                        top.layer.closeAll();
                    }
                });
            }
            //物流编辑
            function logisticEdit(data) {
                top.layer.open({
                    type: 2,
                    title: [
                        '审批配件确认单',
                        'background-color:#3B3B3B; color:#fff;'
                    ],
                    area: ['90%', '90%'],
                    shade: 0.9,
                    maxmin: true,
                    content: "{:url('admin/addpartsconfirmorder/editpartsconfirmorder')}?cs_id=" + data.cs_id+"&current_user_type="+current_user_type,
                    btn: [ '保存','取消'],
                    btnAlign: 'c',
                    async:false,
                    yes: function (index,layero) {
                        var iframeWin = top.window[layero.find('iframe')[0]['name']];
                        var result = iframeWin.logisticSave();
                        if(result == false)
                            return false;
                        layui.table.reload('querytable', {
                            page: {
                                curr: 1
                            }
                        });
                        top.layer.closeAll();
                    },
                    btn2:function () {
                        top.layer.closeAll();
                    }
                });
            }
		</script>
	</body>
</html>